phase1-execution.json
{
  "id": "117",
  "finished": true,
  "mode": "integrated",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2025-11-20T22:47:34.087Z",
  "startedAt": "2025-11-20T22:47:34.097Z",
  "stoppedAt": "2025-11-20T22:47:35.558Z",
  "deletedAt": null,
  "workflowId": "6Tja4GTB5Td0a3Zb",
  "waitTill": null,
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1763678854099,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 2,
            "metadata": {
              "parentExecution": {
                "executionId": "116",
                "workflowId": "YYOK4jaJv85PO8jb",
                "shouldResume": true
              }
            },
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "data": "Email,Daily Limit,Sender Name,SMTP Host,SMTP Port,SMTP Password,IMAP Host,IMAP Port,IMAP Password,Warmup Daily Goal,Warmup Daily Increment\r\nmichael@gocareerangel.net,25,Michael undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nchristopher@gocareerangel.net,25,Christopher undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\njennifer@gocareerangel.net,25,Jennifer undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\namanda@gocareerangel.net,25,Amanda undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\ndavid@gocareerangel.io,25,David undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nrebecca@gocareerangel.net,25,Rebecca undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nbenjamin@gocareerangel.io,25,Benjamin undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nmegan@gocareerangel.io,25,Megan undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nstephanie@gocareerangel.io,25,Stephanie undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\namber@gocareerangel.io,25,Amber undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\njohn@gocareerangel.co,25,John undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nsamuel@gocareerangel.co,25,Samuel undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nrachel@gocareerangel.co,25,Rachel undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nbrittany@gocareerangel.co,25,Brittany undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nrobert@gocareerangel.com,25,Robert undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nheather@gocareerangel.co,25,Heather undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\npaul@gocareerangel.com,25,Paul undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nlisa@gocareerangel.com,25,Lisa undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nemily@gocareerangel.com,25,Emily undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3\r\nmichelle@gocareerangel.com,25,Michelle undefined,smtp.songsdime.com,465,password_here,imap.songsdime.com,993,password_here,25,3",
                      "mailbox_csv_content": "",
                      "opt_out_variants": [
                        "If you're ready to move on from my emails, just reply.",
                        "Not interested? Let me know.",
                        "Reply to unsubscribe."
                      ]
                    },
                    "index": 0,
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Parse CSV": [
          {
            "startTime": 1763678854101,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [
              {
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>",
                "location": "outputPane"
              }
            ],
            "executionTime": 21,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "test@example.com",
                      "senderName": "Test User",
                      "firstName": "Test",
                      "lastName": "User",
                      "domain": "example.com",
                      "displayName": "Test",
                      "dailyLimit": 50,
                      "smtp": {
                        "host": "smtp.example.com",
                        "port": 587,
                        "password": "test"
                      },
                      "imap": {
                        "host": "imap.example.com",
                        "port": 993,
                        "password": "test"
                      },
                      "warmup": {
                        "dailyGoal": 20,
                        "dailyIncrement": 2
                      },
                      "workspaceId": "default-workspace",
                      "forceOverwrite": false,
                      "companyName": "Test Company",
                      "rowNumber": 2,
                      "_isMockData": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Check Mailbox Exists": [
          {
            "startTime": 1763678854122,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Parse CSV"
              }
            ],
            "hints": [],
            "executionTime": 700,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 881166,
                      "senderName": "Test",
                      "emailAddress": "test@example.com",
                      "signature": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Should Skip?": [
          {
            "startTime": 1763678854822,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Check Mailbox Exists"
              }
            ],
            "hints": [
              {
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>",
                "location": "outputPane"
              }
            ],
            "executionTime": 13,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "test@example.com",
                      "senderName": "Test User",
                      "firstName": "Test",
                      "lastName": "User",
                      "domain": "example.com",
                      "displayName": "Test",
                      "dailyLimit": 50,
                      "smtp": {
                        "host": "smtp.example.com",
                        "port": 587,
                        "password": "test"
                      },
                      "imap": {
                        "host": "imap.example.com",
                        "port": 993,
                        "password": "test"
                      },
                      "warmup": {
                        "dailyGoal": 20,
                        "dailyIncrement": 2
                      },
                      "workspaceId": "default-workspace",
                      "forceOverwrite": false,
                      "companyName": "Test Company",
                      "rowNumber": 2,
                      "_isMockData": true,
                      "emailExists": false,
                      "shouldSkip": false,
                      "existingAccountsCount": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Skip?": [
          {
            "startTime": 1763678854836,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Should Skip?"
              }
            ],
            "hints": [],
            "executionTime": 3,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "email": "test@example.com",
                      "senderName": "Test User",
                      "firstName": "Test",
                      "lastName": "User",
                      "domain": "example.com",
                      "displayName": "Test",
                      "dailyLimit": 50,
                      "smtp": {
                        "host": "smtp.example.com",
                        "port": 587,
                        "password": "test"
                      },
                      "imap": {
                        "host": "imap.example.com",
                        "port": 993,
                        "password": "test"
                      },
                      "warmup": {
                        "dailyGoal": 20,
                        "dailyIncrement": 2
                      },
                      "workspaceId": "default-workspace",
                      "forceOverwrite": false,
                      "companyName": "Test Company",
                      "rowNumber": 2,
                      "_isMockData": true,
                      "emailExists": false,
                      "shouldSkip": false,
                      "existingAccountsCount": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Create Email Account": [
          {
            "startTime": 1763678854839,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Skip?",
                "previousNodeOutput": 1
              }
            ],
            "hints": [],
            "executionTime": 698,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 881166
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Generate Report": [
          {
            "startTime": 1763678855537,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Create Email Account"
              }
            ],
            "hints": [
              {
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>",
                "location": "outputPane"
              }
            ],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "success",
                      "action": "updated",
                      "error": "",
                      "timestamp": "2025-11-20T22:47:35.543Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Create CSV Report": [
          {
            "startTime": 1763678855543,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Generate Report"
              }
            ],
            "hints": [
              {
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>",
                "location": "outputPane"
              }
            ],
            "executionTime": 15,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "phase": "Phase 1: Import & Hygiene",
                      "csv": "Email,Status,Action,Display Name,Error,Timestamp\n,success,updated,,,2025-11-20T22:47:35.543Z",
                      "summary": {
                        "total": 1,
                        "successful": 1,
                        "failed": 0,
                        "skipped": 0,
                        "successRate": "100.00%"
                      },
                      "results": [
                        {
                          "status": "success",
                          "action": "updated",
                          "error": "",
                          "timestamp": "2025-11-20T22:47:35.543Z"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Create CSV Report"
    },
    "executionData": {
      "contextData": {},
      "metadata": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    },
    "parentExecution": {
      "executionId": "116",
      "workflowId": "YYOK4jaJv85PO8jb",
      "shouldResume": true
    }
  },
  "workflowData": {
    "id": "6Tja4GTB5Td0a3Zb",
    "name": "Qtalo - Phase 1: Import & Hygiene",
    "active": false,
    "isArchived": false,
    "createdAt": "2025-11-20T15:33:10.241Z",
    "updatedAt": "2025-11-20T22:47:11.169Z",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "id": "start-node",
        "name": "Start",
        "type": "n8n-nodes-base.start",
        "typeVersion": 1,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Extract configuration from input with resilient defaults\nconst config = $input.first().json;\n\nconst workspaceId = config.reply_workspace_id || 'default-workspace';\nconst mailboxCsv = config.mailbox_csv_content || '';\nconst sendingLimits = config.sending_limits || { daily: 50, hourly: 10 };\nconst forceOverwrite = config.force_overwrite || false;\nconst companyName = config.company_name || 'Test Company';\n\n// If no CSV content, return mock data for testing\nif (!mailboxCsv || mailboxCsv.trim() === '') {\n  return [{ json: {\n    email: 'test@example.com',\n    senderName: 'Test User',\n    firstName: 'Test',\n    lastName: 'User',\n    domain: 'example.com',\n    displayName: 'Test',\n    dailyLimit: 50,\n    smtp: { host: 'smtp.example.com', port: 587, password: 'test' },\n    imap: { host: 'imap.example.com', port: 993, password: 'test' },\n    warmup: { dailyGoal: 20, dailyIncrement: 2 },\n    workspaceId,\n    forceOverwrite,\n    companyName,\n    rowNumber: 2,\n    _isMockData: true\n  }}];\n}\n\n// Parse CSV manually (csv-parse not available in n8n)\nconst lines = mailboxCsv.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.trim());\nconst records = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const values = lines[i].split(',').map(v => v.trim());\n  const record = {};\n  headers.forEach((header, idx) => {\n    record[header] = values[idx] || '';\n  });\n  records.push(record);\n}\n\n// Transform records\nconst mailboxes = records.map((record, index) => {\n  // Parse name\n  const nameParts = (record['Sender Name'] || '').trim().split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ') || '';\n  \n  // Extract domain\n  const domain = record.Email.match(/@(.+)$/)?.[1] || '';\n  \n  return {\n    email: record.Email.trim().toLowerCase(),\n    senderName: record['Sender Name'],\n    firstName,\n    lastName,\n    domain,\n    displayName: firstName, // Use first name only\n    dailyLimit: parseInt(record['Daily Limit']) || 50,\n    smtp: {\n      host: record['SMTP Host'] || '',\n      port: parseInt(record['SMTP Port']) || 587,\n      password: record['SMTP Password'] || ''\n    },\n    imap: {\n      host: record['IMAP Host'] || '',\n      port: parseInt(record['IMAP Port']) || 993,\n      password: record['IMAP Password'] || ''\n    },\n    warmup: {\n      dailyGoal: parseInt(record['Warmup Daily Goal']) || 20,\n      dailyIncrement: parseInt(record['Warmup Daily Increment']) || 2\n    },\n    workspaceId,\n    forceOverwrite,\n    companyName,\n    rowNumber: index + 2\n  };\n});\n\nreturn mailboxes.map(m => ({ json: m }));",
          "notice": ""
        },
        "id": "parse-csv",
        "name": "Parse CSV",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "GET",
          "url": "https://api.reply.io/v1/EmailAccounts",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": ""
              }
            ]
          },
          "sendBody": false,
          "options": {},
          "infoMessage": ""
        },
        "id": "check-mailbox",
        "name": "Check Mailbox Exists",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          680,
          300
        ],
        "continueOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "7JQTqb8daMwI0lCP",
            "name": "Reply.io API"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Check if mailbox already exists and should skip\nconst currentEmail = $('Parse CSV').item.json.email;\nconst forceOverwrite = $('Parse CSV').item.json.forceOverwrite;\n\n// Get existing accounts from API response\n// API returns array of objects with: id, senderName, emailAddress, signature\nlet existingAccounts = [];\ntry {\n  const checkMailboxData = $('Check Mailbox Exists').item.json;\n  \n  // Handle different possible response formats\n  if (Array.isArray(checkMailboxData)) {\n    existingAccounts = checkMailboxData;\n  } else if (checkMailboxData.emailAccounts && Array.isArray(checkMailboxData.emailAccounts)) {\n    existingAccounts = checkMailboxData.emailAccounts;\n  } else if (checkMailboxData.data && Array.isArray(checkMailboxData.data)) {\n    existingAccounts = checkMailboxData.data;\n  }\n  \n  console.log(`Found ${existingAccounts.length} existing email accounts in Reply.io`);\n} catch (error) {\n  console.log('Error parsing existing accounts, assuming none exist:', error.message);\n  existingAccounts = [];\n}\n\n// Check if email exists in the list (API uses 'emailAddress' field)\nconst emailExists = existingAccounts.some(acc => \n  acc.emailAddress && acc.emailAddress.toLowerCase() === currentEmail.toLowerCase()\n);\n\nconst shouldSkip = emailExists && !forceOverwrite;\n\nconsole.log(`Email ${currentEmail}: exists=${emailExists}, forceOverwrite=${forceOverwrite}, shouldSkip=${shouldSkip}`);\n\nreturn [{\n  json: {\n    ...$('Parse CSV').item.json,\n    emailExists,\n    shouldSkip,\n    existingAccountsCount: existingAccounts.length\n  }\n}];",
          "notice": ""
        },
        "id": "should-skip",
        "name": "Should Skip?",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.shouldSkip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "skip-check",
        "name": "Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          300
        ]
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://api.reply.io/v1/EmailAccounts",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": ""
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"Email\": \"{{ $json.email }}\",\n  \"Daily Limit\": {{ $json.dailyLimit }},\n  \"SenderName\": \"{{ $json.displayName }}\",\n  \"SmtpHost\": \"{{ $json.smtp.host }}\",\n  \"SmtpPort\": {{ $json.smtp.port }},\n  \"SmtpPassword\": \"{{ $json.smtp.password }}\",\n  \"SmtpSsl\": true,\n  \"ImapHost\": \"{{ $json.imap.host }}\",\n  \"ImapPort\": {{ $json.imap.port }},\n  \"ImapPassword\": \"{{ $json.imap.password }}\",\n  \"ImapSsl\": true\n}",
          "options": {},
          "infoMessage": ""
        },
        "id": "create-mailbox",
        "name": "Create Email Account",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1340,
          420
        ],
        "continueOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "7JQTqb8daMwI0lCP",
            "name": "Reply.io API"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Generate report for each mailbox operation\nconst items = $input.all();\n\nconst results = items.map(item => {\n  const data = item.json;\n  \n  let status, action, error;\n  \n  if (data.error) {\n    status = 'error';\n    action = 'failed';\n    error = data.error;\n  } else if (data.skipped) {\n    status = 'skipped';\n    action = 'existing';\n    error = 'Already exists, force_overwrite=false';\n  } else if (data.id) {\n    status = 'success';\n    action = data.created ? 'created' : 'updated';\n    error = '';\n  } else {\n    status = 'unknown';\n    action = 'unknown';\n    error = 'Unexpected response';\n  }\n  \n  return {\n    json: {\n      email: data.email,\n      status,\n      action,\n      displayName: data.display_name || data.displayName,\n      error,\n      timestamp: new Date().toISOString()\n    }\n  };\n});\n\nreturn results;",
          "notice": ""
        },
        "id": "generate-report",
        "name": "Generate Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          300
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Generate CSV report manually (csv-stringify not available)\nconst items = $input.all();\n\nconst records = items.map(item => ({\n  Email: item.json.email,\n  Status: item.json.status,\n  Action: item.json.action,\n  DisplayName: item.json.displayName,\n  Error: item.json.error || '',\n  Timestamp: item.json.timestamp\n}));\n\n// Create CSV manually\nconst headers = ['Email', 'Status', 'Action', 'Display Name', 'Error', 'Timestamp'];\nconst csvLines = [headers.join(',')];\nrecords.forEach(r => {\n  const errorText = String(r.Error || '').replace(/,/g, ';');\n  csvLines.push([\n    r.Email,\n    r.Status,\n    r.Action,\n    r.DisplayName,\n    errorText,\n    r.Timestamp\n  ].join(','));\n});\nconst csv = csvLines.join('\\n');\n\n// Generate summary\nconst total = items.length;\nconst successful = items.filter(i => i.json.status === 'success').length;\nconst failed = items.filter(i => i.json.status === 'error').length;\nconst skipped = items.filter(i => i.json.status === 'skipped').length;\n\nreturn [{\n  json: {\n    phase: 'Phase 1: Import & Hygiene',\n    csv,\n    summary: {\n      total,\n      successful,\n      failed,\n      skipped,\n      successRate: total > 0 ? ((successful / total) * 100).toFixed(2) + '%' : '0%'\n    },\n    results: items.map(i => i.json)\n  }\n}];",
          "notice": ""
        },
        "id": "create-csv",
        "name": "Create CSV Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1780,
          300
        ],
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Parse CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse CSV": {
        "main": [
          [
            {
              "node": "Check Mailbox Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Mailbox Exists": {
        "main": [
          [
            {
              "node": "Should Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Skip?": {
        "main": [
          [
            {
              "node": "Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip?": {
        "main": [
          [
            {
              "node": "Generate Report",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Email Account",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Email Account": {
        "main": [
          [
            {
              "node": "Generate Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Report": {
        "main": [
          [
            {
              "node": "Create CSV Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "pinData": null
  },
  "customData": {}
}
