system/auto-onboarding-webhook.json
{
  "name": "System - Auto Client Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-client-created",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-trigger",
      "name": "ClickUp Task Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "clickup-client-created"
    },
    {
      "parameters": {
        "jsCode": "// Parse ClickUp webhook payload for task creation\nconst webhookData = $input.first().json;\n\nconsole.log('📥 Received ClickUp webhook:', JSON.stringify(webhookData, null, 2));\n\n// ClickUp webhook structure varies - handle different formats\nconst payload = webhookData.body || webhookData;\nconst event = payload.event || webhookData.event;\nconst taskId = payload.task_id || payload.history_items?.[0]?.task?.id || payload.payload?.id;\n\n// Validate this is a task creation event\nif (event !== 'taskCreated' && event !== 'task_created') {\n  console.log(`⚠️ Ignoring non-creation event: ${event}`);\n  return [{ json: { skip: true, reason: `Event type ${event} is not task creation` } }];\n}\n\nif (!taskId) {\n  console.log('⚠️ No task ID found in webhook payload');\n  return [{ json: { skip: true, reason: 'No task ID in payload' } }];\n}\n\nconsole.log(`✅ Processing task creation: ${taskId}`);\n\nreturn [{\n  json: {\n    task_id: taskId,\n    event: event,\n    skip: false\n  }\n}];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-task-details",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract client info from ClickUp \"Client Overview\" task\nconst task = $input.first().json;\nconst customFields = task.custom_fields || [];\n\nconsole.log('📋 Processing Client Overview task:', task.name);\nconsole.log('📋 Custom fields found:', customFields.map(f => f.name).join(', '));\n\n// Helper to get custom field value - handles different field types\nfunction getFieldValue(fields, ...fieldNames) {\n  for (const fieldName of fieldNames) {\n    const field = fields.find(f => \n      f.name?.toLowerCase().replace(/[^a-z0-9]/g, '') === fieldName.toLowerCase().replace(/[^a-z0-9]/g, '')\n    );\n    if (field) {\n      // Handle different field types\n      if (field.type === 'text' || field.type === 'short_text') return field.value || '';\n      if (field.type === 'email') return field.value || '';\n      if (field.type === 'url') return field.value || '';\n      if (field.type === 'drop_down') return field.type_config?.options?.find(o => o.orderindex === field.value)?.name || '';\n      return field.value || '';\n    }\n  }\n  return '';\n}\n\n// Extract space ID from task location\nconst spaceId = task.space?.id || task.list?.space?.id || task.folder?.space?.id || '';\n\n// Client name from task name\nconst clientName = task.name || 'Unknown Client';\n\n// Get Reply.io API key from custom field (REQUIRED)\nconst replyApiKey = getFieldValue(customFields, 'Reply API Key', 'reply_api_key', 'ReplyAPIKey');\n\n// Get reply workspace ID if provided\nconst replyWorkspaceId = getFieldValue(customFields, 'reply_workspace_id', 'Reply Workspace ID') || 'default';\n\n// Get company info from custom fields\nconst companyName = getFieldValue(customFields, 'company_name', 'Company Name') || clientName;\nconst companyUrl = getFieldValue(customFields, 'company_url', 'Company URL') || '';\nconst domain = getFieldValue(customFields, 'Domain', 'domain') || '';\n\n// Validate required fields\nif (!replyApiKey) {\n  console.error('❌ Missing Reply API Key in custom fields');\n  console.log('Available fields:', customFields.map(f => `${f.name}: ${f.value}`).join('\\n'));\n  \n  // Post error comment to task\n  try {\n    await this.helpers.request({\n      method: 'POST',\n      uri: `https://api.clickup.com/api/v2/task/${task.id}/comment`,\n      headers: {\n        'Authorization': $env.CLICKUP_API_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        comment_text: `🚨 **Auto-Onboarding Waiting**\\n\\n**Missing Required Field:** Reply API Key\\n\\nPlease fill in the **Reply API Key** custom field with the client's Reply.io API key.\\n\\nOnce filled, change the status to trigger onboarding.`\n      },\n      json: true\n    });\n  } catch (e) {\n    console.error('Failed to post comment:', e.message);\n  }\n  \n  return [{ json: { skip: true, reason: 'Missing Reply API Key - waiting for it to be filled' } }];\n}\n\nconsole.log(`✅ Extracted client info:`);\nconsole.log(`   - client_name: ${clientName}`);\nconsole.log(`   - task_id: ${task.id}`);\nconsole.log(`   - space_id: ${spaceId}`);\nconsole.log(`   - reply_api_key: ${replyApiKey.substring(0, 8)}...`);\nconsole.log(`   - Lambda will generate client_id`);\n\n// NOTE: client_id is NOT set here - Lambda will generate it\nreturn [{\n  json: {\n    skip: false,\n    client_name: clientName,\n    clickup_space_id: spaceId,\n    clickup_task_id: task.id,\n    reply_api_key: replyApiKey,\n    reply_workspace_id: replyWorkspaceId,\n    company_name: companyName,\n    company_url: companyUrl,\n    domain: domain,\n    clickup_api_key: $env.CLICKUP_API_KEY,\n    use_shared_clickup: true\n  }\n}];"
      },
      "id": "extract-client-info",
      "name": "Extract Client Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip",
      "name": "Check Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"waiting\": true,\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-waiting",
      "name": "Respond Waiting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vk6ueupecj.execute-api.us-east-1.amazonaws.com/prod/clients",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"clickup_space_id\": \"{{ $json.clickup_space_id }}\",\n  \"clickup_task_id\": \"{{ $json.clickup_task_id }}\",\n  \"reply_api_key\": \"{{ $json.reply_api_key }}\",\n  \"reply_workspace_id\": \"{{ $json.reply_workspace_id }}\",\n  \"clickup_api_key\": \"{{ $json.clickup_api_key }}\"\n}",
        "options": {}
      },
      "id": "create-client-aws",
      "name": "Create Client in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Check if client creation succeeded and get the Lambda-generated client_id\nconst response = $input.first().json;\nconst clientInfo = $('Extract Client Info').first().json;\n\nconsole.log('AWS API Response:', JSON.stringify(response, null, 2));\n\n// Check for success or \"already exists\" (which is fine)\nconst isSuccess = response.message?.includes('successfully') || response.client;\nconst alreadyExists = response.error?.includes('already exists');\n\nif (!isSuccess && !alreadyExists) {\n  const errorMsg = response.error || response.message || 'Unknown error';\n  console.error(`❌ Failed to create client in AWS: ${errorMsg}`);\n  \n  // Post error to ClickUp\n  try {\n    await this.helpers.request({\n      method: 'POST',\n      uri: `https://api.clickup.com/api/v2/task/${clientInfo.clickup_task_id}/comment`,\n      headers: {\n        'Authorization': $env.CLICKUP_API_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        comment_text: `🚨 **AWS Client Creation Failed**\\n\\n**Error:** ${errorMsg}\\n\\nPlease check the AWS Lambda logs for more details.`\n      },\n      json: true\n    });\n  } catch (e) {\n    console.error('Failed to post error comment:', e.message);\n  }\n  \n  throw new Error(`Failed to create client in AWS: ${errorMsg}`);\n}\n\n// Get the client_id from Lambda response (Lambda generates it)\nconst clientId = response.client_id || response.client?.client_id;\n\nif (!clientId) {\n  throw new Error('No client_id returned from Lambda');\n}\n\nconsole.log(`✅ Client created with ID: ${clientId}`);\n\nreturn [{\n  json: {\n    ...clientInfo,\n    client_id: clientId,  // Lambda-generated client_id\n    aws_status: alreadyExists ? 'already_exists' : 'created',\n    secrets_arn: response.secrets_arn || response.client?.secrets_arn || 'existing'\n  }\n}];"
      },
      "id": "check-aws-response",
      "name": "Check AWS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/dispatches",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"deploy-client\",\n  \"client_payload\": {\n    \"client_id\": \"{{ $json.client_id }}\",\n    \"client_name\": \"{{ $json.client_name }}\",\n    \"clickup_task_id\": \"{{ $json.clickup_task_id }}\",\n    \"callback_url\": \"https://qtalospace.app.n8n.cloud/webhook/deployment-callback\",\n    \"mode\": \"single\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-github-actions",
      "name": "Trigger GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Extract Client Info').first().json.clickup_task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"⏳ **Client Onboarding Started**\\n\\n**Client ID:** {{ $('Check AWS Response').first().json.client_id }}\\n**Client Name:** {{ $('Extract Client Info').first().json.client_name }}\\n**AWS Status:** {{ $('Check AWS Response').first().json.aws_status }}\\n\\n🚀 **GitHub Actions is now deploying the workflows...**\\n\\nYou'll receive another comment when deployment completes.\"\n}",
        "options": {}
      },
      "id": "post-success-comment",
      "name": "Post Progress Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"client_id\": \"{{ $('Extract Client Info').first().json.client_id }}\",\n  \"message\": \"Client onboarded successfully\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"skipped\": true,\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "ClickUp Task Created Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Extract Client Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Client Info": {
      "main": [
        [
          {
            "node": "Check Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip": {
      "main": [
        [
          {
            "node": "Create Client in AWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Waiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client in AWS": {
      "main": [
        [
          {
            "node": "Check AWS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AWS Response": {
      "main": [
        [
          {
            "node": "Trigger GitHub Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GitHub Actions": {
      "main": [
        [
          {
            "node": "Post Progress Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Progress Comment": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "auto-onboarding-webhook"
  },
  "tags": []
}
