system/client-onboarding-v2.template.json
{
  "updatedAt": "2026-01-15T20:09:19.504Z",
  "createdAt": "2025-12-21T14:47:43.559Z",
  "id": "yMRb0i13knCpzGnF",
  "name": "System - Client Onboarding v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Onboard Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "onboard-client-v2",
      "parameters": {
        "httpMethod": "POST",
        "path": "onboard-client",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "check-task-in-db",
      "name": "Check Task in DynamoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        350,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/by-task/{{ $json.body.task_id }}",
        "authentication": "none",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "check-dedupe",
      "name": "Task Already Onboarded?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "{{INJECT:scripts/system/onboarding/task-already-onboarded.js}}"
      }
    },
    {
      "id": "route-dedup",
      "name": "Route By Dedup Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dedupe-response",
      "name": "Already Onboarded Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Client already onboarded for this ClickUp task\", \"task_id\": \"{{ $('Webhook: Onboard Client').item.json.body.task_id }}\", \"existing_client_id\": \"{{ $json.client.client_id }}\" }",
        "options": {}
      }
    },
    {
      "id": "claim-task",
      "name": "Claim Task in DynamoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/claim/{{ $('Webhook: Onboard Client').item.json.body.task_id }}",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"claiming\" }",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "check-claim-result",
      "name": "Check Claim Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "{{INJECT:scripts/system/onboarding/check-claim-result.js}}"
      }
    },
    {
      "id": "route-claim-result",
      "name": "Route By Claim Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.claimSuccess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "claim-failed-response",
      "name": "Claim Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Task already being processed by another execution\", \"task_id\": \"{{ $('Webhook: Onboard Client').item.json.body.task_id }}\" }",
        "options": {}
      }
    },
    {
      "id": "check-status",
      "name": "Check If Onboarding Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "{{INJECT:scripts/system/onboarding/check-if-onboarding-status.js}}"
      }
    },
    {
      "id": "fetch-task",
      "name": "Fetch ClickUp Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{CLICKUP_API_URL}}/task/{{ $('Webhook: Onboard Client').item.json.body.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_SYSTEM_CREDENTIAL_ID}}",
          "name": "System ClickUp API"
        }
      }
    },
    {
      "id": "extract-client-info",
      "name": "Extract Client Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/extract-client-info.js}}"
      }
    },
    {
      "id": "check-if-exists",
      "name": "Check If Client Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/{{ $json.client_id }}",
        "authentication": "none",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "validate-client-status",
      "name": "Validate Client Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/validate-client-status.js}}"
      }
    },
    {
      "id": "should-onboard",
      "name": "Should Onboard?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "already-onboarded-response",
      "name": "Build Already Onboarded Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        500
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/build-already-onboarded-response.js}}"
      }
    },
    {
      "id": "create-client-aws",
      "name": "Create Client in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/{{ $(\"Should Onboard?\").first().json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $(\"Should Onboard?\").first().json.client_name }}\",\n  \"clickup_task_id\": \"{{ $(\"Should Onboard?\").first().json.clickup_task_id }}\",\n  \"expected_domains\": {{ JSON.stringify($(\"Should Onboard?\").first().json.expected_domains) }},\n  \"reply_workspace_id\": \"{{ $(\"Should Onboard?\").first().json.reply_workspace_id }}\",\n  \"status\": \"provisioning\",\n  \"template_version\": \"2.0.0\",\n  \"workflow_ids\": {}\n}",
        "options": {}
      }
    },
    {
      "id": "store-credentials-aws",
      "name": "Store Credentials in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{AWS_API_GATEWAY_URL}}/credentials/{{ $('Extract Client Info').item.json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reply_api_key\": \"{{ $(\"Extract Client Info\").item.json.reply_api_key }}\",\n  \"reply_io_user\": \"{{ $(\"Extract Client Info\").item.json.reply_io_user }}\",\n  \"reply_io_password\": \"{{ $(\"Extract Client Info\").item.json.reply_io_password }}\",\n  \"clickup_api_key\": \"{{ $(\"Extract Client Info\").item.json.clickup_api_key }}\",\n  \"expected_domains\": {{ JSON.stringify($(\"Extract Client Info\").item.json.expected_domains) }}\n}",
        "options": {}
      }
    },
    {
      "id": "update-clickup-client-id",
      "name": "Update ClickUp Client ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{CLICKUP_API_URL}}/task/{{ $('Extract Client Info').first().json.clickup_task_id }}/field/{{ $('Extract Client Info').first().json.client_id_field_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Extract Client Info').first().json.clickup_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ value: $('Extract Client Info').first().json.client_id }) }}",
        "options": {}
      }
    },
    {
      "id": "create-clickup-credential",
      "name": "Create ClickUp Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "{{N8N_API_URL}}/credentials",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Extract Client Info').item.json.client_name + ' - ClickUp API', type: 'httpHeaderAuth', data: { name: 'Authorization', value: $('Extract Client Info').item.json.clickup_api_key } }) }}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      }
    },
    {
      "id": "transfer-clickup-credential",
      "name": "Transfer ClickUp Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{N8N_API_URL}}/credentials/{{ $('Create ClickUp Credential').item.json.id }}/transfer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"destinationProjectId\": \"BFIDAvXOISVZh7tb\"\n}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "create-reply-credential",
      "name": "Create Reply Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "{{N8N_API_URL}}/credentials",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Extract Client Info').item.json.client_name + ' - Reply API', type: 'httpHeaderAuth', data: { name: 'X-Api-Key', value: $('Extract Client Info').item.json.reply_api_key } }) }}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      }
    },
    {
      "id": "transfer-reply-credential",
      "name": "Transfer Reply Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1010,
        600
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{N8N_API_URL}}/credentials/{{ $('Create Reply Credential').item.json.id }}/transfer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"destinationProjectId\": \"BFIDAvXOISVZh7tb\"\n}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "merge-credential-info",
      "name": "Merge Credential Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1230,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/merge-credential-info.js}}"
      }
    },
    {
      "id": "list-templates",
      "name": "List Template Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Extract Client Info').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Extract Client Info').item.json.github_repo }}"
        },
        "filePath": "=/{{ $('Extract Client Info').item.json.templates_path }}"
      },
      "credentials": {
        "githubApi": {
          "id": "{{GITHUB_CREDENTIAL_ID}}",
          "name": "GitHub API - Qtalo"
        }
      }
    },
    {
      "id": "filter-templates",
      "name": "Filter JSON Templates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-json",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": ".template.json"
            }
          ]
        }
      }
    },
    {
      "id": "get-template-content",
      "name": "Get Template Content",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Extract Client Info').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Extract Client Info').item.json.github_repo }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "credentials": {
        "githubApi": {
          "id": "{{GITHUB_CREDENTIAL_ID}}",
          "name": "GitHub API - Qtalo"
        }
      }
    },
    {
      "id": "decode-and-inject",
      "name": "Decode & Inject Client Values",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/decode-inject-client-values.js}}"
      }
    },
    {
      "id": "create-workflow",
      "name": "Create Workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.workflow.toJsonString() }}",
        "requestOptions": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      }
    },
    {
      "id": "transfer-to-project",
      "name": "Transfer to Qtalo Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{N8N_API_URL}}/workflows/{{ $json.id }}/transfer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"destinationProjectId\": \"BFIDAvXOISVZh7tb\"\n}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "collect-workflow-ids",
      "name": "Collect Workflow IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/collect-workflow-ids.js}}"
      }
    },
    {
      "id": "update-orchestrator-phase-ids",
      "name": "Update Orchestrator with Phase IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2770,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{N8N_API_URL}}/workflows/{{ $json.workflow_ids.orchestrator }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      }
    },
    {
      "id": "inject-phase-ids-to-orchestrator",
      "name": "Inject Phase IDs to Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/inject-phase-ids-to-orchestrator.js}}"
      }
    },
    {
      "id": "save-updated-orchestrator",
      "name": "Save Updated Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2990,
        200
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{N8N_API_URL}}/workflows/{{ $json.orchestrator_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updated_workflow) }}",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      }
    },
    {
      "id": "prepare-for-activation",
      "name": "Prepare for Activation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        200
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/onboarding/prepare-for-activation.js}}"
      }
    },
    {
      "id": "activate-orchestrator",
      "name": "Activate Orchestrator",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        3210,
        200
      ],
      "parameters": {
        "resource": "workflow",
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_ids.orchestrator }}"
        },
        "requestOptions": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "{{N8N_CREDENTIAL_ID}}",
          "name": "n8n API - Qtalo"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "update-client-aws",
      "name": "Update Client Status in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3320,
        200
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/{{ $('Prepare for Activation').item.json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'active', workflow_ids: $('Prepare for Activation').item.json.workflow_ids || {}, clickup_task_id: $('Prepare for Activation').item.json.clickup_task_id, deployed_at: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3430,
        200
      ],
      "parameters": {
        "mode": "raw",
        "options": {},
        "jsonOutput": "={{ JSON.stringify({ status: 'success', message: 'Client onboarded successfully', client_id: $('Prepare for Activation').item.json.client_id, client_name: $('Prepare for Activation').item.json.client_name, workflow_ids: $('Prepare for Activation').item.json.workflow_ids || {} }) }}"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3540,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "jwt-check-task-in-db",
      "name": "JWT Sign - Check Task in DynamoDB",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        150,
        300
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---check-task-in-dynamodb\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "jwt-claim-task",
      "name": "JWT Sign - Claim Task in DynamoDB",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---claim-task-in-dynamodb\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "jwt-check-if-exists",
      "name": "JWT Sign - If Client Exists",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---if-client-exists\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "jwt-create-client-aws",
      "name": "JWT Sign - Client in AWS",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        1580,
        300
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---client-in-aws\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "jwt-store-credentials-aws",
      "name": "JWT Sign - Credentials in AWS",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---credentials-in-aws\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "jwt-update-client-aws",
      "name": "JWT Sign - Client Status in AWS",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        3120,
        200
      ],
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "options": {
          "expiresIn": 3600
        },
        "claimsJson": "={{ JSON.stringify({ sub: \"n8n-client-onboarding\", iss: \"n8n-qtalo\", aud: \"qtalo-api-gateway\", jti: $execution.id + \"-jwt-sign---client-status-in-aws\", iat: Math.floor(Date.now() / 1000) }) }}"
      },
      "credentials": {
        "jwtAuth": {
          "id": "3sORmrZy6PTT3Gzb",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "id": "skip-not-onboarding",
      "name": "Skip - Not Onboarding Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Ignored - task status is not Onboarding\", \"task_id\": \"{{ $(\"Webhook: Onboard Client\").item.json.body.task_id }}\" }",
        "options": {}
      }
    },
    {
      "id": "route-onboarding-check",
      "name": "Route Onboarding Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isOnboarding }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook: Onboard Client": {
      "main": [
        [
          {
            "node": "Check If Onboarding Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Task in DynamoDB": {
      "main": [
        [
          {
            "node": "Task Already Onboarded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Already Onboarded?": {
      "main": [
        [
          {
            "node": "Route By Dedup Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Dedup Result": {
      "main": [
        [
          {
            "node": "JWT Sign - Claim Task in DynamoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Already Onboarded Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Task in DynamoDB": {
      "main": [
        [
          {
            "node": "Check Claim Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Claim Result": {
      "main": [
        [
          {
            "node": "Route By Claim Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Claim Result": {
      "main": [
        [
          {
            "node": "Fetch ClickUp Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Onboarding Status": {
      "main": [
        [
          {
            "node": "Route Onboarding Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ClickUp Task": {
      "main": [
        [
          {
            "node": "Extract Client Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Client Info": {
      "main": [
        [
          {
            "node": "JWT Sign - If Client Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Client Exists": {
      "main": [
        [
          {
            "node": "Validate Client Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Client Status": {
      "main": [
        [
          {
            "node": "Should Onboard?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Onboard?": {
      "main": [
        [
          {
            "node": "JWT Sign - Client in AWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Already Onboarded Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Already Onboarded Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client in AWS": {
      "main": [
        [
          {
            "node": "JWT Sign - Credentials in AWS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update ClickUp Client ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Credentials in AWS": {
      "main": [
        [
          {
            "node": "Create ClickUp Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ClickUp Credential": {
      "main": [
        [
          {
            "node": "Transfer ClickUp Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer ClickUp Credential": {
      "main": [
        [
          {
            "node": "Create Reply Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reply Credential": {
      "main": [
        [
          {
            "node": "Transfer Reply Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Reply Credential": {
      "main": [
        [
          {
            "node": "Merge Credential Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Credential Info": {
      "main": [
        [
          {
            "node": "List Template Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Template Files": {
      "main": [
        [
          {
            "node": "Filter JSON Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter JSON Templates": {
      "main": [
        [
          {
            "node": "Get Template Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Template Content": {
      "main": [
        [
          {
            "node": "Decode & Inject Client Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode & Inject Client Values": {
      "main": [
        [
          {
            "node": "Create Workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow in n8n": {
      "main": [
        [
          {
            "node": "Transfer to Qtalo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer to Qtalo Project": {
      "main": [
        [
          {
            "node": "Collect Workflow IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Workflow IDs": {
      "main": [
        [
          {
            "node": "Update Orchestrator with Phase IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Orchestrator with Phase IDs": {
      "main": [
        [
          {
            "node": "Inject Phase IDs to Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Phase IDs to Orchestrator": {
      "main": [
        [
          {
            "node": "Save Updated Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Updated Orchestrator": {
      "main": [
        [
          {
            "node": "Prepare for Activation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Activation": {
      "main": [
        [
          {
            "node": "Activate Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Orchestrator": {
      "main": [
        [
          {
            "node": "JWT Sign - Client Status in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Status in AWS": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - If Client Exists": {
      "main": [
        [
          {
            "node": "Check If Client Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - Client in AWS": {
      "main": [
        [
          {
            "node": "Create Client in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - Credentials in AWS": {
      "main": [
        [
          {
            "node": "Store Credentials in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - Client Status in AWS": {
      "main": [
        [
          {
            "node": "Update Client Status in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - Claim Task in DynamoDB": {
      "main": [
        [
          {
            "node": "Claim Task in DynamoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Sign - Check Task in DynamoDB": {
      "main": [
        [
          {
            "node": "Check Task in DynamoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Onboarding Check": {
      "main": [
        [
          {
            "node": "JWT Sign - Check Task in DynamoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Not Onboarding Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "441e7dee-954d-4506-bfc9-84f9796cd1c0",
  "activeVersionId": "441e7dee-954d-4506-bfc9-84f9796cd1c0",
  "versionCounter": 276,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-21T14:59:07.192Z",
      "createdAt": "2025-12-21T14:59:07.192Z",
      "role": "workflow:owner",
      "workflowId": "yMRb0i13knCpzGnF",
      "projectId": "{{N8N_PROJECT_ID}}",
      "project": {
        "updatedAt": "2025-11-20T14:41:38.000Z",
        "createdAt": "2025-11-20T14:41:32.806Z",
        "id": "{{N8N_PROJECT_ID}}",
        "name": "QTalo",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "projectRelations": [
          {
            "updatedAt": "2025-11-20T14:41:32.808Z",
            "createdAt": "2025-11-20T14:41:32.808Z",
            "userId": "cb6d5270-4b28-442b-abaf-52304e0e7e0c",
            "projectId": "{{N8N_PROJECT_ID}}",
            "user": {
              "updatedAt": "2026-01-15T05:35:34.000Z",
              "createdAt": "2025-11-20T14:37:17.770Z",
              "id": "cb6d5270-4b28-442b-abaf-52304e0e7e0c",
              "email": "devin@qtalo.com",
              "firstName": "Devin",
              "lastName": "Mahoney",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          },
          {
            "updatedAt": "2025-11-20T14:41:45.880Z",
            "createdAt": "2025-11-20T14:41:45.880Z",
            "userId": "006ccda9-eea6-49d4-bc9f-dacf3ba5da1b",
            "projectId": "{{N8N_PROJECT_ID}}",
            "user": {
              "updatedAt": "2026-01-15T19:08:17.000Z",
              "createdAt": "2025-11-20T14:41:10.140Z",
              "id": "006ccda9-eea6-49d4-bc9f-dacf3ba5da1b",
              "email": "byron@qtalo.com",
              "firstName": "Byron",
              "lastName": "Martinez",
              "personalizationAnswers": null,
              "settings": {
                "firstSuccessfulWorkflowId": "DUCRFH8yYdCKu7lt",
                "userActivated": true,
                "userActivatedAt": 1765300323684
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          },
          {
            "updatedAt": "2025-11-20T14:41:47.947Z",
            "createdAt": "2025-11-20T14:41:47.947Z",
            "userId": "9f506416-58bd-4402-b811-3e3853811a46",
            "projectId": "{{N8N_PROJECT_ID}}",
            "user": {
              "updatedAt": "2025-11-20T17:11:09.086Z",
              "createdAt": "2025-11-20T14:41:10.140Z",
              "id": "9f506416-58bd-4402-b811-3e3853811a46",
              "email": "ivan@qtalo.com",
              "firstName": "Ivan",
              "lastName": "Milovidov",
              "personalizationAnswers": null,
              "settings": null,
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-11-20",
              "isPending": false
            }
          },
          {
            "updatedAt": "2025-11-20T14:41:49.223Z",
            "createdAt": "2025-11-20T14:41:49.223Z",
            "userId": "3fb3db1c-0294-462b-8595-62eccdd72f26",
            "projectId": "{{N8N_PROJECT_ID}}",
            "user": {
              "updatedAt": "2025-12-08T16:21:00.000Z",
              "createdAt": "2025-11-20T14:41:10.140Z",
              "id": "3fb3db1c-0294-462b-8595-62eccdd72f26",
              "email": "ty@qtalo.com",
              "firstName": "Ty",
              "lastName": "Backhus",
              "personalizationAnswers": null,
              "settings": null,
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}