system/client-onboarding.json
{
  "name": "System - Client Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboarding",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "client-onboarding"
    },
    {
      "parameters": {
        "jsCode": "// Extract client info from webhook payload\nconst payload = $input.first().json;\n\n// Expected payload structure:\n// {\n//   \"client_id\": \"acme-corp\",\n//   \"client_name\": \"ACME Corporation\", \n//   \"clickup_space_id\": \"90121345678\",\n//   \"reply_api_key\": \"xxx\",\n//   \"clickup_api_key\": \"yyy\",\n//   \"reply_workspace_id\": \"optional\"\n// }\n\nconst clientId = payload.client_id || payload.body?.client_id;\nconst clientName = payload.client_name || payload.body?.client_name;\nconst clickupSpaceId = payload.clickup_space_id || payload.body?.clickup_space_id;\nconst replyApiKey = payload.reply_api_key || payload.body?.reply_api_key;\nconst clickupApiKey = payload.clickup_api_key || payload.body?.clickup_api_key;\nconst replyWorkspaceId = payload.reply_workspace_id || payload.body?.reply_workspace_id || 'default';\n\n// Validate required fields\nconst errors = [];\nif (!clientId) errors.push('client_id is required');\nif (!clientName) errors.push('client_name is required');\nif (!replyApiKey) errors.push('reply_api_key is required');\nif (!clickupApiKey) errors.push('clickup_api_key is required');\n\nif (errors.length > 0) {\n  throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\n// Sanitize client_id (lowercase, no spaces)\nconst sanitizedClientId = clientId.toLowerCase().replace(/[^a-z0-9-]/g, '-');\n\nreturn [{\n  json: {\n    client_id: sanitizedClientId,\n    client_name: clientName,\n    clickup_space_id: clickupSpaceId || sanitizedClientId,\n    reply_api_key: replyApiKey,\n    clickup_api_key: clickupApiKey,\n    reply_workspace_id: replyWorkspaceId\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"clickup_space_id\": \"{{ $json.clickup_space_id }}\",\n  \"reply_api_key\": \"{{ $json.reply_api_key }}\",\n  \"clickup_api_key\": \"{{ $json.clickup_api_key }}\",\n  \"reply_workspace_id\": \"{{ $json.reply_workspace_id }}\"\n}",
        "options": {}
      },
      "id": "create-client",
      "name": "Create Client (API Gateway)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle API error\nconst response = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    error: response.error,\n    message: `Failed to create client: ${response.error}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process successful client creation\nconst response = $input.first().json;\nconst client = response.client;\n\nreturn [{\n  json: {\n    success: true,\n    client_id: client.client_id,\n    client_name: client.client_name,\n    secrets_arn: client.secrets_arn,\n    status: client.status,\n    message: `Client ${client.client_name} created successfully`,\n    next_steps: response.next_steps,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-success",
      "name": "Process Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 201 : 400 }}"
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook - New Client": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Create Client (API Gateway)", "type": "main", "index": 0 }]]
    },
    "Create Client (API Gateway)": {
      "main": [[{ "node": "Check for Error", "type": "main", "index": 0 }]]
    },
    "Check for Error": {
      "main": [
        [{ "node": "Handle Error", "type": "main", "index": 0 }],
        [{ "node": "Process Success", "type": "main", "index": 0 }]
      ]
    },
    "Handle Error": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
    },
    "Process Success": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]]
    },
    "Merge Results": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "n8n"
  },
  "tags": ["system"]
}
