system/client-onboarding-orchestrator.json
{
  "name": "System - Client Onboarding Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboard-client",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Onboard Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "onboard-client"
    },
    {
      "parameters": {
        "jsCode": "// Extract client info from webhook payload\n// Expected payload from ClickUp automation or manual trigger:\n// {\n//   client_id: 'acme',\n//   client_name: 'ACME Corp',\n//   reply_api_key: 'xxx',\n//   clickup_api_key: 'xxx',\n//   clickup_task_id: 'abc123' (optional)\n// }\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst clientId = body.client_id;\nconst clientName = body.client_name || clientId;\nconst replyApiKey = body.reply_api_key;\nconst clickupApiKey = body.clickup_api_key;\nconst clickupTaskId = body.clickup_task_id || body.task_id;\n\nif (!clientId) {\n  throw new Error('client_id is required');\n}\n\nif (!replyApiKey) {\n  throw new Error('reply_api_key is required');\n}\n\n// Normalize client ID (lowercase, alphanumeric + hyphens)\nconst normalizedClientId = clientId.toLowerCase().replace(/[^a-z0-9-]/g, '-');\n\nreturn [{\n  json: {\n    client_id: normalizedClientId,\n    client_name: clientName,\n    reply_api_key: replyApiKey,\n    clickup_api_key: clickupApiKey || '',\n    clickup_task_id: clickupTaskId || ''\n  }\n}];"
      },
      "id": "extract-client-info",
      "name": "Extract Client Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://vk6ueupecj.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"status\": \"pending\",\n  \"template_version\": \"1.0.0\",\n  \"workflow_ids\": {}\n}",
        "options": {}
      },
      "id": "create-client-record",
      "name": "Create Client in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://vk6ueupecj.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $('Extract Client Info').item.json.client_id }}/credentials",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reply_api_key\": \"{{ $('Extract Client Info').item.json.reply_api_key }}\",\n  \"clickup_api_key\": \"{{ $('Extract Client Info').item.json.clickup_api_key }}\"\n}",
        "options": {}
      },
      "id": "store-credentials",
      "name": "Store Credentials in AWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/byronmartinez-ballastlane/qtalo-n8n-testing/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"deploy-client\",\n  \"client_payload\": {\n    \"client_id\": \"{{ $('Extract Client Info').item.json.client_id }}\",\n    \"client_name\": \"{{ $('Extract Client Info').item.json.client_name }}\",\n    \"clickup_task_id\": \"{{ $('Extract Client Info').item.json.clickup_task_id }}\",\n    \"callback_url\": \"https://qtalospace.app.n8n.cloud/webhook/deployment-callback\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-github-actions",
      "name": "Trigger GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xGSRwMui8ggBuaaW",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return success response\nconst clientInfo = $('Extract Client Info').item.json;\n\nreturn [{\n  json: {\n    status: 'pending',\n    message: 'Client onboarding initiated. GitHub Actions will deploy workflows.',\n    client_id: clientInfo.client_id,\n    client_name: clientInfo.client_name,\n    next_steps: [\n      'GitHub Actions workflow triggered',\n      'Workflows will be created in n8n',\n      'Callback will be sent when complete'\n    ]\n  }\n}];"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook: Onboard Client": {
      "main": [
        [
          {
            "node": "Extract Client Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Client Info": {
      "main": [
        [
          {
            "node": "Create Client in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client in AWS": {
      "main": [
        [
          {
            "node": "Store Credentials in AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Credentials in AWS": {
      "main": [
        [
          {
            "node": "Trigger GitHub Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GitHub Actions": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
