system/deployment-callback-handler.json
{
  "name": "System - Deployment Callback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deployment-callback",
        "options": {}
      },
      "id": "callback-webhook",
      "name": "Webhook: Deployment Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "deployment-callback"
    },
    {
      "parameters": {
        "jsCode": "// Process callback from GitHub Actions\nconst body = $input.first().json.body || $input.first().json;\n\nconst status = body.status; // 'success' or 'failure'\nconst clientId = body.client_id;\nconst clientName = body.client_name || clientId;\nconst workflowIds = body.workflow_ids || {};\nconst credentialIds = body.credential_ids || {};\nconst clickupTaskId = body.clickup_task_id;\nconst error = body.error;\nconst runUrl = body.run_url;\n\nreturn [{\n  json: {\n    status,\n    client_id: clientId,\n    client_name: clientName,\n    workflow_ids: workflowIds,\n    credential_ids: credentialIds,\n    clickup_task_id: clickupTaskId,\n    error: error || null,\n    run_url: runUrl || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"active\",\n  \"workflow_ids\": {{ JSON.stringify($json.workflow_ids) }},\n  \"template_version\": \"2.0.0\",\n  \"deployed_at\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "update-client-success",
      "name": "Update Client Status (Active)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"failed\",\n  \"error\": \"{{ $json.error }}\",\n  \"failed_at\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "update-client-failure",
      "name": "Update Client Status (Failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Parse Callback').item.json.clickup_task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-clickup-task",
      "name": "Has ClickUp Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Parse Callback').item.json.clickup_task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"✅ **Workflow Deployment Complete**\\n\\n**Client:** {{ $('Parse Callback').item.json.client_name }}\\n**Status:** Success\\n\\n**Workflows Created:**\\n- Phase 1: {{ $('Parse Callback').item.json.workflow_ids.phase1 || 'N/A' }}\\n- Phase 2: {{ $('Parse Callback').item.json.workflow_ids.phase2 || 'N/A' }}\\n- Phase 3: {{ $('Parse Callback').item.json.workflow_ids.phase3 || 'N/A' }}\\n- Orchestrator: {{ $('Parse Callback').item.json.workflow_ids.orchestrator || 'N/A' }}\\n\\n🎉 Client is ready to use!\"\n}",
        "options": {}
      },
      "id": "post-success-comment",
      "name": "Post Success Comment to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Parse Callback').item.json.clickup_task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-clickup-task-failure",
      "name": "Has ClickUp Task? (Failure)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Parse Callback').item.json.clickup_task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"❌ **Workflow Deployment Failed**\\n\\n**Client:** {{ $('Parse Callback').item.json.client_name }}\\n**Error:** {{ $('Parse Callback').item.json.error }}\\n\\n**GitHub Actions Run:** {{ $('Parse Callback').item.json.run_url || 'N/A' }}\\n\\n⚠️ Please check the logs and retry.\"\n}",
        "options": {}
      },
      "id": "post-failure-comment",
      "name": "Post Failure Comment to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'received', client_id: $('Parse Callback').item.json.client_id } }}",
        "options": {}
      },
      "id": "respond-callback",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook: Deployment Callback": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Update Client Status (Active)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Client Status (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Status (Active)": {
      "main": [
        [
          {
            "node": "Has ClickUp Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Status (Failed)": {
      "main": [
        [
          {
            "node": "Has ClickUp Task? (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has ClickUp Task?": {
      "main": [
        [
          {
            "node": "Post Success Comment to ClickUp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has ClickUp Task? (Failure)": {
      "main": [
        [
          {
            "node": "Post Failure Comment to ClickUp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Success Comment to ClickUp": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Failure Comment to ClickUp": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
