system/status-change-router.template.json
{
  "name": "System - Status Change Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-status-change",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "ClickUp Status Change Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "clickup-status-change"
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/router/acquire-dedup-lock.js}}"
      },
      "id": "dedupe-lock",
      "name": "Acquire Dedup Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json._dedupe_skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dedupe-check",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {},
      "id": "dedupe-skip",
      "name": "Duplicate Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/router/parse-webhook.js}}"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "payload": "={{ JSON.stringify({ sub: 'n8n-status-router', iss: 'n8n-qtalo', aud: 'qtalo-api-gateway', jti: $execution.id, iat: Math.floor(Date.now() / 1000), task_id: $json.task_id }) }}",
        "options": {
          "expiresIn": 3600
        }
      },
      "id": "sign-jwt-get-client",
      "name": "Sign JWT (Get Client)",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "jwtAuth": {
          "id": "GTMIQ9enUC5HkDq6",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{AWS_API_GATEWAY_URL}}/clients?task_id={{ $('Parse Webhook').first().json.task_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-client-by-task",
      "name": "Get Client by Task ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/router/find-client-by-task-id.js}}"
      },
      "id": "find-client",
      "name": "Find Client by Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/router/check-status-progression.js}}"
      },
      "id": "check-last-execution",
      "name": "Check Status Progression",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{CLICKUP_API_URL}}/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"\ud83d\ude80 **Reply.io Setup Started**\\n\\n**Client:** {{ $json.client_name }}\\n**Triggered by:** Status change to REPLY\\n\\nTriggering the Main Orchestrator workflow...\"\n}",
        "options": {}
      },
      "id": "post-start-comment",
      "name": "Post Start Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_SYSTEM_CREDENTIAL_ID}}",
          "name": "System ClickUp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/system/router/prepare-orchestrator-data.js}}"
      },
      "id": "prepare-orchestrator-data",
      "name": "Prepare Orchestrator Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1970,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_ids['orchestrator'] || $json.workflow_ids['main-orchestrator'] || '' }}",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-main-orchestrator",
      "name": "Trigger Main Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "operation": "sign",
        "useJson": true,
        "payload": "={{ JSON.stringify({ sub: 'n8n-status-router', iss: 'n8n-qtalo', aud: 'qtalo-api-gateway', jti: $execution.id + '-update', iat: Math.floor(Date.now() / 1000), client_id: $('Check Status Progression').first().json.client_id }) }}",
        "options": {
          "expiresIn": 3600
        }
      },
      "id": "sign-jwt-update-status",
      "name": "Sign JWT (Update Status)",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        2290,
        300
      ],
      "credentials": {
        "jwtAuth": {
          "id": "GTMIQ9enUC5HkDq6",
          "name": "AWS API Gateway JWT"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{AWS_API_GATEWAY_URL}}/clients/{{ $('Check Status Progression').first().json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.AWS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_processed_status: $('Parse Webhook').first().json.new_status, last_execution_timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-last-execution",
      "name": "Update Processed Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2490,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{CLICKUP_API_URL}}/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"\u2705 **Reply.io Setup Complete!**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\\n\\nThe Main Orchestrator has completed all phases.\"\n}",
        "options": {}
      },
      "id": "post-complete-comment",
      "name": "Post Complete Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_SYSTEM_CREDENTIAL_ID}}",
          "name": "System ClickUp API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1140,
        500
      ]
    },
    {
      "parameters": {},
      "id": "no-op-no-client",
      "name": "No Client Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        500
      ]
    }
  ],
  "connections": {
    "ClickUp Status Change Webhook": {
      "main": [
        [
          {
            "node": "Acquire Dedup Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Dedup Lock": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Sign JWT (Get Client)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign JWT (Get Client)": {
      "main": [
        [
          {
            "node": "Get Client by Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client by Task ID": {
      "main": [
        [
          {
            "node": "Find Client by Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client by Task ID": {
      "main": [
        [
          {
            "node": "Check Status Progression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Progression": {
      "main": [
        [
          {
            "node": "Client Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Found?": {
      "main": [
        [
          {
            "node": "Post Start Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Client Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Start Comment": {
      "main": [
        [
          {
            "node": "Prepare Orchestrator Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Orchestrator Data": {
      "main": [
        [
          {
            "node": "Trigger Main Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Main Orchestrator": {
      "main": [
        [
          {
            "node": "Sign JWT (Update Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign JWT (Update Status)": {
      "main": [
        [
          {
            "node": "Update Processed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Processed Status": {
      "main": [
        [
          {
            "node": "Post Complete Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}