system/status-change-router.json
{
  "name": "System - Status Change Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-status-change",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "ClickUp Status Change Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "clickup-status-change"
    },
    {
      "parameters": {
        "jsCode": "// Parse ClickUp webhook and extract task info\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\nconsole.log('📥 Received status change webhook');\n\n// Extract task ID\nconst taskId = body.task_id || body.history_items?.[0]?.task?.id || body.payload?.id;\n\nif (!taskId) {\n  console.log('⚠️ No task ID found');\n  return [{ json: { skip: true, reason: 'No task ID' } }];\n}\n\n// Check for status change in history_items\nconst historyItems = body.history_items || [];\nconst statusChange = historyItems.find(h => h.field === 'status');\n\nif (!statusChange) {\n  console.log('⚠️ Not a status change event');\n  return [{ json: { skip: true, reason: 'Not a status change' } }];\n}\n\nconst newStatus = (statusChange.after?.status || '').toLowerCase();\nconst oldStatus = (statusChange.before?.status || '').toLowerCase();\n\n// Only trigger on REPLY status\nconst shouldTrigger = newStatus.includes('reply');\n\nif (!shouldTrigger) {\n  console.log(`⚠️ Status '${newStatus}' is not a trigger status (only 'reply' triggers)`);\n  return [{ json: { skip: true, reason: `Status '${newStatus}' not in trigger list` } }];\n}\n\nconsole.log(`✅ Status changed: ${oldStatus} → ${newStatus}`);\n\nreturn [{\n  json: {\n    skip: false,\n    task_id: taskId,\n    old_status: oldStatus,\n    new_status: newStatus\n  }\n}];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients?task_id={{ $json.task_id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-client-by-task",
      "name": "Get Client by Task ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Check if client was found\nconst taskId = $('Parse Webhook').first().json.task_id;\nconst response = $input.first().json;\n\nconsole.log('🔍 Lambda response:', JSON.stringify(response, null, 2));\n\n// Handle 404 or empty response\nif (response.error || !response.client_id) {\n  console.log(`❌ No client found for task_id: ${taskId}`);\n  return [{ json: { skip: true, reason: `No client found for task ${taskId}` } }];\n}\n\nconsole.log(`✅ Found client: ${response.client_name} (${response.client_id})`);\nconsole.log(`📋 Workflow IDs:`, response.workflow_ids);\n\n// Validate workflow_ids exist\nif (!response.workflow_ids || Object.keys(response.workflow_ids).length === 0) {\n  console.log('⚠️ Client has no workflow_ids - workflows may not have been deployed');\n}\n\nreturn [{\n  json: {\n    skip: false,\n    client_id: response.client_id,\n    client_name: response.client_name,\n    task_id: taskId,\n    workflow_ids: response.workflow_ids || {},\n    clickup_space_id: response.clickup_space_id,\n    status: response.status,\n    last_processed_status: response.last_processed_status\n  }\n}];"
      },
      "id": "find-client",
      "name": "Find Client by Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Smart status tracking - prevent backwards changes and duplicate processing\nconst client = $input.first().json;\nconst webhookData = $('Parse Webhook').first().json;\nconst newStatus = webhookData.new_status;\nconst oldStatus = webhookData.old_status;\nconst lastProcessedStatus = client.last_processed_status;\n\nconsole.log(`📊 Status Change: ${oldStatus} → ${newStatus}`);\nconsole.log(`📌 Last Processed: ${lastProcessedStatus || 'none'}`);\n\n// If we've already processed this exact status, skip\nif (lastProcessedStatus === newStatus) {\n  console.log(`⏭️ Already processed status '${newStatus}' - skipping`);\n  return [{ json: { ...client, skip: true, reason: `Status '${newStatus}' already processed` } }];\n}\n\n// Define status order (workflow progression)\nconst STATUS_ORDER = ['not started', 'onboarding', 'reply', 'campaign live', 'complete'];\nconst oldIndex = STATUS_ORDER.indexOf(oldStatus);\nconst newIndex = STATUS_ORDER.indexOf(newStatus);\nconst lastIndex = STATUS_ORDER.indexOf(lastProcessedStatus);\n\n// Check if moving backwards (to a previous status in the workflow)\nif (lastProcessedStatus && newIndex < lastIndex) {\n  // Moving backwards - only allow if returning to 'reply' (in case user moved forward by mistake)\n  if (newStatus === 'reply') {\n    console.log(`↩️ Returning to REPLY status - allowing execution`);\n    return [{ json: { ...client, skip: false } }];\n  } else {\n    console.log(`⬅️ Backwards status change detected (${lastProcessedStatus} → ${newStatus}) - skipping`);\n    return [{ json: { ...client, skip: true, reason: `Backwards change to '${newStatus}' not allowed` } }];\n  }\n}\n\n// Moving forward or first time - allow execution\nconsole.log(`✅ Forward progression or first execution - proceeding`);\nreturn [{ json: { ...client, skip: false } }];"
      },
      "id": "check-last-execution",
      "name": "Check Status Progression",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"🚀 **Reply.io Setup Started**\\n\\n**Client:** {{ $json.client_name }}\\n**Triggered by:** Status change to REPLY\\n\\nTriggering the Main Orchestrator workflow...\"\n}",
        "options": {}
      },
      "id": "post-start-comment",
      "name": "Post Start Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1620, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "={{ $('Check Status Progression').first().json.workflow_ids['orchestrator'] || $('Check Status Progression').first().json.workflow_ids['main-orchestrator'] || '' }}",
        "fields": {
          "values": [
            {
              "name": "task_id",
              "stringValue": "={{ $('Check Status Progression').first().json.task_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-main-orchestrator",
      "name": "Trigger Main Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1840, 300],
      "continueOnFail": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $('Check Status Progression').first().json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_processed_status: $('Parse Webhook').first().json.new_status, last_execution_timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-last-execution",
      "name": "Update Processed Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2060, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"✅ **Reply.io Setup Complete!**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\\n\\nThe Main Orchestrator has completed all phases.\"\n}",
        "options": {}
      },
      "id": "post-complete-comment",
      "name": "Post Complete Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2280, 300],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {},
      "id": "no-op-no-client",
      "name": "No Client Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "ClickUp Status Change Webhook": {
      "main": [[{ "node": "Parse Webhook", "type": "main", "index": 0 }]]
    },
    "Parse Webhook": {
      "main": [[{ "node": "Should Process?", "type": "main", "index": 0 }]]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Get Client by Task ID", "type": "main", "index": 0 }],
        [{ "node": "Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Get Client by Task ID": {
      "main": [[{ "node": "Find Client by Task ID", "type": "main", "index": 0 }]]
    },
    "Find Client by Task ID": {
      "main": [[{ "node": "Check Status Progression", "type": "main", "index": 0 }]]
    },
    "Check Status Progression": {
      "main": [[{ "node": "Client Found?", "type": "main", "index": 0 }]]
    },
    "Client Found?": {
      "main": [
        [{ "node": "Post Start Comment", "type": "main", "index": 0 }],
        [{ "node": "No Client Found", "type": "main", "index": 0 }]
      ]
    },
    "Post Start Comment": {
      "main": [[{ "node": "Trigger Main Orchestrator", "type": "main", "index": 0 }]]
    },
    "Trigger Main Orchestrator": {
      "main": [[{ "node": "Update Processed Status", "type": "main", "index": 0 }]]
    },
    "Update Processed Status": {
      "main": [[{ "node": "Post Complete Comment", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCreatedBy": "qtalo-n8n",
    "templateVersion": "1.0.0"
  },
  "tags": ["system", "router"]
}
