system/status-change-router.json
{
  "name": "System - Status Change Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-status-change",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "ClickUp Status Change Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "clickup-status-change"
    },
    {
      "parameters": {
        "jsCode": "// Parse ClickUp webhook and extract task info\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\nconsole.log('📥 Received status change webhook');\n\n// Extract task ID\nconst taskId = body.task_id || body.history_items?.[0]?.task?.id || body.payload?.id;\n\nif (!taskId) {\n  console.log('⚠️ No task ID found');\n  return [{ json: { skip: true, reason: 'No task ID' } }];\n}\n\n// Check for status change in history_items\nconst historyItems = body.history_items || [];\nconst statusChange = historyItems.find(h => h.field === 'status');\n\nif (!statusChange) {\n  console.log('⚠️ Not a status change event');\n  return [{ json: { skip: true, reason: 'Not a status change' } }];\n}\n\nconst newStatus = (statusChange.after?.status || '').toLowerCase();\nconst oldStatus = (statusChange.before?.status || '').toLowerCase();\n\n// Only trigger on specific statuses\nconst triggerStatuses = ['reply', 'domain purchase', 'domain_purchase'];\nconst shouldTrigger = triggerStatuses.some(s => newStatus.includes(s));\n\nif (!shouldTrigger) {\n  console.log(`⚠️ Status '${newStatus}' is not a trigger status`);\n  return [{ json: { skip: true, reason: `Status '${newStatus}' not in trigger list` } }];\n}\n\nconsole.log(`✅ Status changed: ${oldStatus} → ${newStatus}`);\n\nreturn [{\n  json: {\n    skip: false,\n    task_id: taskId,\n    old_status: oldStatus,\n    new_status: newStatus\n  }\n}];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://vk6ueupecj.execute-api.us-east-1.amazonaws.com/prod/clients?task_id={{ $json.task_id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-client-by-task",
      "name": "Get Client by Task ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if client was found\nconst taskId = $('Parse Webhook').first().json.task_id;\nconst response = $input.first().json;\n\nconsole.log('🔍 Lambda response:', JSON.stringify(response, null, 2));\n\n// Handle 404 or empty response\nif (response.error || !response.client_id) {\n  console.log(`❌ No client found for task_id: ${taskId}`);\n  return [{ json: { skip: true, reason: `No client found for task ${taskId}` } }];\n}\n\nconsole.log(`✅ Found client: ${response.client_name} (${response.client_id})`);\nconsole.log(`📋 Workflow IDs:`, response.workflow_ids);\n\n// Validate workflow_ids exist\nif (!response.workflow_ids || Object.keys(response.workflow_ids).length === 0) {\n  console.log('⚠️ Client has no workflow_ids - workflows may not have been deployed');\n}\n\nreturn [{\n  json: {\n    skip: false,\n    client_id: response.client_id,\n    client_name: response.client_name,\n    task_id: taskId,\n    workflow_ids: response.workflow_ids || {},\n    clickup_space_id: response.clickup_space_id,\n    status: response.status\n  }\n}];"
      },
      "id": "find-client",
      "name": "Find Client by Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-task-details",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"🚀 **Automation Started**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\\n**Triggered by:** Status change to {{ $('Parse Webhook').first().json.new_status }}\\n\\nPhase 1, 2, and 3 will now run automatically.\"\n}",
        "options": {}
      },
      "id": "post-start-comment",
      "name": "Post Start Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for phase workflows\nconst task = $input.first().json;\nconst clientData = $('Find Client by Task ID').first().json;\nconst customFields = task.custom_fields || [];\n\n// Helper to get custom field value\nfunction getFieldValue(fields, ...fieldNames) {\n  for (const fieldName of fieldNames) {\n    const field = fields.find(f => \n      f.name?.toLowerCase().replace(/[^a-z0-9]/g, '') === fieldName.toLowerCase().replace(/[^a-z0-9]/g, '')\n    );\n    if (field?.value) return field.value;\n  }\n  return '';\n}\n\nfunction parseJsonField(value) {\n  if (!value) return null;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nconst taskName = task.name || clientData.client_name;\n\nconst config = {\n  task_id: task.id,\n  task_name: taskName,\n  client_id: clientData.client_id,\n  client_name: clientData.client_name,\n  workflow_ids: clientData.workflow_ids,\n  company_name: getFieldValue(customFields, 'company_name', 'Company Name') || taskName,\n  company_url: getFieldValue(customFields, 'company_url', 'Company URL') || '',\n  reply_workspace_id: getFieldValue(customFields, 'reply_workspace_id', 'Reply Workspace ID') || 'default',\n  force_overwrite: getFieldValue(customFields, 'force_overwrite') === true,\n  sending_limits: parseJsonField(getFieldValue(customFields, 'sending_limits')) || { daily: 50, hourly: 10 },\n  attachments: task.attachments || []\n};\n\n// Find CSV attachment\nconst csvAttachment = config.attachments.find(a => \n  a.title?.toLowerCase().includes('mailbox') || \n  a.title?.toLowerCase().includes('roster') ||\n  (a.title?.toLowerCase().endsWith('.csv') && !a.title?.toLowerCase().includes('phase'))\n);\nconfig.csv_attachment_url = csvAttachment?.url || '';\n\nconsole.log(`✅ Config prepared for client: ${config.client_name}`);\nconsole.log(`📋 Workflow IDs:`, config.workflow_ids);\n\nreturn [{ json: config }];"
      },
      "id": "prepare-config",
      "name": "Prepare Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://vk6ueupecj.execute-api.us-east-1.amazonaws.com/prod/credentials/{{ $json.client_id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-client-credentials",
      "name": "Get Client Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge credentials with config\nconst config = $('Prepare Configuration').first().json;\nconst credResponse = $input.first().json;\nconst credentials = credResponse.credentials || {};\n\nconst fullConfig = {\n  ...config,\n  reply_api_key: credentials.reply_api_key || '',\n  clickup_api_key: credentials.clickup_api_key || $env.CLICKUP_API_KEY\n};\n\nconsole.log(`✅ Credentials merged for: ${config.client_name}`);\n\nreturn [{ json: fullConfig }];"
      },
      "id": "merge-credentials",
      "name": "Merge Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if CSV exists and download if needed\nconst config = $input.first().json;\n\nif (!config.csv_attachment_url) {\n  console.log('⚠️ No CSV attachment found');\n  return [{ json: { ...config, mailbox_csv_content: '', skip_csv: true } }];\n}\n\ntry {\n  const csvContent = await this.helpers.request({\n    method: 'GET',\n    uri: config.csv_attachment_url\n  });\n  console.log(`✅ Downloaded CSV, length: ${csvContent.length}`);\n  return [{ json: { ...config, mailbox_csv_content: csvContent, data: csvContent, skip_csv: false } }];\n} catch (error) {\n  console.error('❌ Failed to download CSV:', error.message);\n  return [{ json: { ...config, mailbox_csv_content: '', skip_csv: true } }];\n}"
      },
      "id": "download-csv",
      "name": "Download CSV if Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_ids['phase1-import-hygiene'] || '' }}",
        "fields": {
          "values": [
            {
              "name": "inputData",
              "stringValue": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase1",
      "name": "Execute Phase 1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2880, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"✅ **Phase 1: Import & Hygiene Complete**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\"\n}",
        "options": {}
      },
      "id": "comment-phase1",
      "name": "Post Phase 1 Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "={{ $('Download CSV if Exists').first().json.workflow_ids['phase2-signatures'] || '' }}",
        "fields": {
          "values": [
            {
              "name": "inputData",
              "stringValue": "={{ JSON.stringify($('Download CSV if Exists').first().json) }}"
            }
          ]
        },
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase2",
      "name": "Execute Phase 2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3320, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "={{ $('Download CSV if Exists').first().json.workflow_ids['phase3-standardize'] || '' }}",
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase3",
      "name": "Execute Phase 3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3540, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"complete reply\" }",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Status Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3760, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.CLICKUP_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"🎉 **All Phases Complete!**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\\n\\n✅ Phase 1: Import & Hygiene\\n✅ Phase 2: Signatures & Opt-Outs\\n✅ Phase 3: Standardize Workspace\\n\\nReply.io workspace is fully configured.\"\n}",
        "options": {}
      },
      "id": "post-complete-comment",
      "name": "Post Complete Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3980, 300]
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {},
      "id": "no-op-no-client",
      "name": "No Client Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "ClickUp Status Change Webhook": {
      "main": [[{ "node": "Parse Webhook", "type": "main", "index": 0 }]]
    },
    "Parse Webhook": {
      "main": [[{ "node": "Should Process?", "type": "main", "index": 0 }]]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Get Client by Task ID", "type": "main", "index": 0 }],
        [{ "node": "Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Get Client by Task ID": {
      "main": [[{ "node": "Find Client by Task ID", "type": "main", "index": 0 }]]
    },
    "Find Client by Task ID": {
      "main": [[{ "node": "Client Found?", "type": "main", "index": 0 }]]
    },
    "Client Found?": {
      "main": [
        [{ "node": "Get Task Details", "type": "main", "index": 0 }],
        [{ "node": "No Client Found", "type": "main", "index": 0 }]
      ]
    },
    "Get Task Details": {
      "main": [[{ "node": "Post Start Comment", "type": "main", "index": 0 }]]
    },
    "Post Start Comment": {
      "main": [[{ "node": "Prepare Configuration", "type": "main", "index": 0 }]]
    },
    "Prepare Configuration": {
      "main": [[{ "node": "Get Client Credentials", "type": "main", "index": 0 }]]
    },
    "Get Client Credentials": {
      "main": [[{ "node": "Merge Credentials", "type": "main", "index": 0 }]]
    },
    "Merge Credentials": {
      "main": [[{ "node": "Download CSV if Exists", "type": "main", "index": 0 }]]
    },
    "Download CSV if Exists": {
      "main": [[{ "node": "Execute Phase 1", "type": "main", "index": 0 }]]
    },
    "Execute Phase 1": {
      "main": [[{ "node": "Post Phase 1 Comment", "type": "main", "index": 0 }]]
    },
    "Post Phase 1 Comment": {
      "main": [[{ "node": "Execute Phase 2", "type": "main", "index": 0 }]]
    },
    "Execute Phase 2": {
      "main": [[{ "node": "Execute Phase 3", "type": "main", "index": 0 }]]
    },
    "Execute Phase 3": {
      "main": [[{ "node": "Update Status Complete", "type": "main", "index": 0 }]]
    },
    "Update Status Complete": {
      "main": [[{ "node": "Post Complete Comment", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCreatedBy": "qtalo-n8n",
    "templateVersion": "1.0.0"
  },
  "tags": ["system", "router"]
}
