templates/main-orchestrator.template.json
{
  "name": "{{CLIENT_NAME}} - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{CLIENT_NAME}}-clickup-reply-setup",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "ClickUp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "{{CLIENT_NAME}}-clickup-reply-setup"
    },
    {
      "id": "validate-task-id",
      "name": "Validate Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/validate-task-id.js}}"
      }
    },
    {
      "id": "get-task",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "id": "check-clickup-auth",
      "name": "Check ClickUp Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/check-clickup-auth.js}}"
      }
    },
    {
      "id": "set-status-progress",
      "name": "Set Status: In Progress",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {}
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/extract-config.js}}"
      },
      "id": "extract-config",
      "name": "Extract Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/check-csv-exists.js}}"
      },
      "id": "check-csv-exists",
      "name": "Check CSV Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.csv_attachment_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        },
        "continueOnFail": true
      },
      "id": "download-csv",
      "name": "Download Mailbox CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/combine-data.js}}"
      },
      "id": "combine-data",
      "name": "Combine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "WAcmmU2c1BWbiW8s",
        "fields": {
          "values": [
            {
              "name": "inputData",
              "stringValue": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase1",
      "name": "Execute Phase 1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/prepare-phase1-comment.js}}"
      },
      "id": "prepare-phase1-comment",
      "name": "Prepare Phase 1 Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}/comment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "={{ $json.comment }}"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "comment-phase1",
      "name": "Post Phase 1 Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/attach-phase1-csv.js}}"
      },
      "id": "attach-phase1-csv",
      "name": "Attach Phase 1 CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 10
      },
      "id": "wait-for-api-sync",
      "name": "Wait for API Sync",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ],
      "webhookId": "wait-for-sync"
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/prepare-phase2-data.js}}"
      },
      "id": "prepare-phase2-data",
      "name": "Prepare Phase 2 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "BAs990JJwrMAmerN",
        "fields": {
          "values": [
            {
              "name": "inputData",
              "stringValue": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase2",
      "name": "Execute Phase 2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/prepare-phase3-data.js}}"
      },
      "id": "prepare-phase3-data",
      "name": "Prepare Phase 3 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "vCqOiRLveQQA2iYU",
        "fields": {
          "values": [
            {
              "name": "inputData",
              "stringValue": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "pass": {
            "passMode": "all"
          }
        }
      },
      "id": "execute-phase3",
      "name": "Execute Phase 3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/orchestrator/prepare-status-update.js}}"
      },
      "id": "prepare-status-update",
      "name": "Prepare Status Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.statusName }}\"\n}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "update-task-status",
      "name": "Update Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3760,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Webhook": {
      "main": [
        [
          {
            "node": "Validate Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Task ID": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Check ClickUp Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ClickUp Auth": {
      "main": [
        [
          {
            "node": "Set Status: In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status: In Progress": {
      "main": [
        [
          {
            "node": "Extract Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Configuration": {
      "main": [
        [
          {
            "node": "Check CSV Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CSV Exists": {
      "main": [
        [
          {
            "node": "Download Mailbox CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Mailbox CSV": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Execute Phase 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Phase 1": {
      "main": [
        [
          {
            "node": "Prepare Phase 1 Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phase 1 Comment": {
      "main": [
        [
          {
            "node": "Post Phase 1 Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach Phase 1 CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Phase 1 Comment": {
      "main": [
        [
          {
            "node": "Wait for API Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Phase 1 CSV": {
      "main": [
        []
      ]
    },
    "Wait for API Sync": {
      "main": [
        [
          {
            "node": "Prepare Phase 2 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phase 2 Data": {
      "main": [
        [
          {
            "node": "Execute Phase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Phase 2": {
      "main": [
        [
          {
            "node": "Prepare Phase 3 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phase 3 Data": {
      "main": [
        [
          {
            "node": "Execute Phase 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Phase 3": {
      "main": [
        [
          {
            "node": "Prepare Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Status Update": {
      "main": [
        [
          {
            "node": "Update Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}