templates/phase3-standardize.template.json
{
  "name": "{{CLIENT_NAME}} - Phase 3: Standardize Workspace",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v1/custom-fields/all",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "get-existing-fields",
      "name": "Get Existing Custom Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/process-fields-spec.js}}"
      },
      "id": "process-fields-spec",
      "name": "Process Fields Spec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/split-fields-to-create.js}}"
      },
      "id": "split-fields-to-create",
      "name": "Split Fields to Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v1/custom-fields",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"title\": $json.field_title, \"type\": $json.field_type } }}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "create-custom-field",
      "name": "Create Custom Field",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/collect-results.js}}"
      },
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/create-csv-report.js}}"
      },
      "id": "create-csv-report",
      "name": "Create CSV Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/prepare-csv-binary.js}}"
      },
      "id": "prepare-csv-binary",
      "name": "Prepare CSV Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/attachment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "upload-csv-clickup",
      "name": "Upload CSV to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/prepare-comment.js}}"
      },
      "id": "prepare-comment",
      "name": "Prepare Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "={{ $json.comment }}"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "post-comment-clickup",
      "name": "Post Comment to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/check-sequences-spec.js}}"
      },
      "id": "check-sequences-spec",
      "name": "Check Sequences Spec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v1/campaigns",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "get-existing-sequences",
      "name": "Get Existing Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/process-sequences-spec.js}}"
      },
      "id": "process-sequences-spec",
      "name": "Process Sequences Spec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/split-sequences-to-clone.js}}"
      },
      "id": "split-sequences-to-clone",
      "name": "Split Sequences to Clone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.reply.io/v2/campaigns/{{ $json.source_sequence_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "get-source-sequence",
      "name": "Get Source Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "{{INJECT:scripts/phase3/prepare-clone-payload.js}}"
      },
      "id": "prepare-clone-payload",
      "name": "Prepare Clone Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skipApiCall }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip-clone",
      "name": "Should Clone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v2/campaigns",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._payload) }}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "create-cloned-campaign",
      "name": "Create Cloned Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "{{INJECT:scripts/phase3/process-clone-result.js}}"
      },
      "id": "process-clone-result",
      "name": "Process Clone Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/pass-skipped-items.js}}"
      },
      "id": "pass-skipped-items",
      "name": "Pass Skipped Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-clone-results",
      "name": "Merge Clone Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/collect-sequence-results.js}}"
      },
      "id": "collect-sequence-results",
      "name": "Collect Sequence Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/create-sequences-csv.js}}"
      },
      "id": "create-sequences-csv",
      "name": "Create Sequences CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/prepare-sequences-csv-binary.js}}"
      },
      "id": "prepare-sequences-csv-binary",
      "name": "Prepare Sequences CSV Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4420,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/attachment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "upload-sequences-csv",
      "name": "Upload Sequences CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase3/prepare-sequences-comment.js}}"
      },
      "id": "prepare-sequences-comment",
      "name": "Prepare Sequences Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "={{ $json.comment }}"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "post-sequences-comment",
      "name": "Post Sequences Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5080,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Existing Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Custom Fields": {
      "main": [
        [
          {
            "node": "Process Fields Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Fields Spec": {
      "main": [
        [
          {
            "node": "Split Fields to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Fields to Create": {
      "main": [
        [
          {
            "node": "Create Custom Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Custom Field": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Create CSV Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CSV Report": {
      "main": [
        [
          {
            "node": "Prepare CSV Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CSV Binary": {
      "main": [
        [
          {
            "node": "Upload CSV to ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to ClickUp": {
      "main": [
        [
          {
            "node": "Prepare Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Comment": {
      "main": [
        [
          {
            "node": "Post Comment to ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Comment to ClickUp": {
      "main": [
        [
          {
            "node": "Check Sequences Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sequences Spec": {
      "main": [
        [
          {
            "node": "Get Existing Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Sequences": {
      "main": [
        [
          {
            "node": "Process Sequences Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sequences Spec": {
      "main": [
        [
          {
            "node": "Split Sequences to Clone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sequences to Clone": {
      "main": [
        [
          {
            "node": "Get Source Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Sequence": {
      "main": [
        [
          {
            "node": "Prepare Clone Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Clone Payload": {
      "main": [
        [
          {
            "node": "Should Clone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Clone?": {
      "main": [
        [
          {
            "node": "Create Cloned Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Skipped Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cloned Campaign": {
      "main": [
        [
          {
            "node": "Process Clone Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Clone Result": {
      "main": [
        [
          {
            "node": "Merge Clone Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Skipped Items": {
      "main": [
        [
          {
            "node": "Merge Clone Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Clone Results": {
      "main": [
        [
          {
            "node": "Collect Sequence Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Sequence Results": {
      "main": [
        [
          {
            "node": "Create Sequences CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sequences CSV": {
      "main": [
        [
          {
            "node": "Prepare Sequences CSV Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sequences CSV Binary": {
      "main": [
        [
          {
            "node": "Upload Sequences CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Sequences CSV": {
      "main": [
        [
          {
            "node": "Prepare Sequences Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sequences Comment": {
      "main": [
        [
          {
            "node": "Post Sequences Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}