templates/phase1-import-hygiene.template.json
{
  "name": "{{CLIENT_NAME}} - Phase 1: Import & Hygiene",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/prepare-schedule.js}}"
      },
      "id": "prepare-schedule",
      "name": "Prepare Schedule Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.schedule_skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-schedule-config",
      "name": "Has Schedule Config?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v2/schedules",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "get-existing-schedules",
      "name": "Get Existing Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        100
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/check-schedule-exists.js}}"
      },
      "id": "check-schedule-exists",
      "name": "Check Schedule Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.schedule_action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-create-schedule",
      "name": "Should Create Schedule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v2/schedules",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.schedule_config) }}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "create-schedule",
      "name": "Create Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        50
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/process-schedule-result.js}}"
      },
      "id": "process-schedule-result",
      "name": "Process Schedule Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.schedule_set_as_default }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.schedule_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-set-default",
      "name": "Should Set Default?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.reply.io/v2/schedules/{{ $json.schedule_id }}/set-default",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "set-schedule-default",
      "name": "Set Schedule as Default",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        50
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/finalize-schedule.js}}"
      },
      "id": "finalize-schedule",
      "name": "Finalize Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/skip-set-default.js}}"
      },
      "id": "skip-set-default",
      "name": "Skip Set Default",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/schedule-complete.js}}"
      },
      "id": "schedule-complete",
      "name": "Schedule Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/parse-csv.js}}"
      },
      "id": "parse-csv",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v1/EmailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "check-mailbox",
      "name": "Check Mailbox Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/should-skip.js}}"
      },
      "id": "should-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.emailExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "skip-check",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-update-check",
      "name": "Should Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v1/EmailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Email\": \"{{ $json.email }}\",\n  \"Daily Limit\": {{ $json.dailyLimit }},\n  \"SenderName\": \"{{ $json.displayName }}\",\n  \"SmtpHost\": \"{{ $json.smtp.host }}\",\n  \"SmtpPort\": {{ $json.smtp.port }},\n  \"SmtpPassword\": \"{{ $json.smtp.password }}\",\n  \"SmtpSsl\": true,\n  \"ImapHost\": \"{{ $json.imap.host }}\",\n  \"ImapPort\": {{ $json.imap.port }},\n  \"ImapPassword\": \"{{ $json.imap.password }}\",\n  \"ImapSsl\": true\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "update-mailbox",
      "name": "Update Mailbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        80
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/mark-updated.js}}"
      },
      "id": "mark-updated",
      "name": "Mark as Updated",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/mark-skipped.js}}"
      },
      "id": "mark-skipped",
      "name": "Mark as Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v1/EmailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Email\": \"{{ $json.email }}\",\n  \"Daily Limit\": {{ $json.dailyLimit }},\n  \"SenderName\": \"{{ $json.displayName }}\",\n  \"SmtpHost\": \"{{ $json.smtp.host }}\",\n  \"SmtpPort\": {{ $json.smtp.port }},\n  \"SmtpPassword\": \"{{ $json.smtp.password }}\",\n  \"SmtpSsl\": true,\n  \"ImapHost\": \"{{ $json.imap.host }}\",\n  \"ImapPort\": {{ $json.imap.port }},\n  \"ImapPassword\": \"{{ $json.imap.password }}\",\n  \"ImapSsl\": true\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "create-mailbox",
      "name": "Create Email Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        420
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/merge-account-data.js}}"
      },
      "id": "merge-account-data",
      "name": "Merge Account Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.api_response?.error?.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "detect-failures",
      "name": "Detect Failed Creations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v1/emailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "recheck-existing",
      "name": "Re-check Existing Mailboxes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        520
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/filter-retries.js}}"
      },
      "id": "filter-retries",
      "name": "Filter Items To Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reply.io/v1/emailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Email\": \"{{ $json.email }}\",\n  \"Daily Limit\": {{ $json.dailyLimit }},\n  \"SenderName\": \"{{ $json.displayName }}\",\n  \"SmtpHost\": \"{{ $json.smtp.host }}\",\n  \"SmtpPort\": {{ $json.smtp.port }},\n  \"SmtpPassword\": \"{{ $json.smtp.password }}\",\n  \"SmtpSsl\": true,\n  \"ImapHost\": \"{{ $json.imap.host }}\",\n  \"ImapPort\": {{ $json.imap.port }},\n  \"ImapPassword\": \"{{ $json.imap.password }}\",\n  \"ImapSsl\": true\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          },
          "retry": {
            "maxRetries": 3,
            "retryInitialWaitTime": 3000,
            "retryBackoffFactor": 2
          }
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "retry-failed-creations",
      "name": "Retry Failed Creations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1920,
        520
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/merge-retry-results.js}}"
      },
      "id": "merge-retry-results",
      "name": "Merge Retry Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "combine-all-results",
      "name": "Combine All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2100,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/prepare-limits.js}}"
      },
      "id": "prepare-limits",
      "name": "Prepare Sending Limits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_apply_limits }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-apply-limits",
      "name": "Should Apply Limits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2500,
        420
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.reply.io/v1/EmailAccounts/{{ $json.mailbox_id }}/settings",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dailyLimit\": {{ $json.daily_limit }},\n  \"sendingWindow\": {\n    \"enabled\": true,\n    \"start\": \"{{ $json.window_start }}\",\n    \"end\": \"{{ $json.window_end }}\",\n    \"timezone\": \"{{ $json.timezone }}\"\n  }\n}",
        "options": {
          "retry": {
            "retryOnHttpStatusCodes": "429",
            "maxRetries": 3,
            "retryInitialWaitTime": 1000,
            "retryBackoffFactor": 2
          }
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "apply-limits",
      "name": "Apply Limits API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        320
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/merge-limits-result.js}}"
      },
      "id": "merge-limits-result",
      "name": "Merge Limits Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Pass through for skipped limits - process ALL items\nconst items = $input.all();\nreturn items.map(item => ({ json: item.json }));"
      },
      "id": "skip-limits",
      "name": "Skip Limits",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2720,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.reply.io/v1/EmailAccounts/{{ $json.mailbox_id }}/settings",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dailyLimit\": {{ $json.daily_limit }},\n  \"hourlyLimit\": {{ $json.hourly_limit }}\n}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "apply-sending-limits",
      "name": "Apply Sending Limits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2920,
        320
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/generate-report.js}}"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/create-csv.js}}"
      },
      "id": "create-csv",
      "name": "Create CSV Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/prepare-csv-binary.js}}"
      },
      "id": "prepare-csv-binary",
      "name": "Prepare CSV Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/attachment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "upload-csv-clickup",
      "name": "Upload CSV to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/prepare-comment.js}}"
      },
      "id": "prepare-comment",
      "name": "Prepare Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "={{ $json.comment }}"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "post-comment-clickup",
      "name": "Post Comment to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase1/return-mailboxes.js}}"
      },
      "id": "return-mailboxes",
      "name": "Return Mailboxes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Schedule Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Schedule Config": {
      "main": [
        [
          {
            "node": "Has Schedule Config?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Schedule Config?": {
      "main": [
        [
          {
            "node": "Get Existing Schedules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Schedules": {
      "main": [
        [
          {
            "node": "Check Schedule Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Schedule Exists": {
      "main": [
        [
          {
            "node": "Should Create Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Schedule?": {
      "main": [
        [
          {
            "node": "Create Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Set Default?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Schedule": {
      "main": [
        [
          {
            "node": "Process Schedule Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Schedule Result": {
      "main": [
        [
          {
            "node": "Should Set Default?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Set Default?": {
      "main": [
        [
          {
            "node": "Set Schedule as Default",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Set Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schedule as Default": {
      "main": [
        [
          {
            "node": "Finalize Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Schedule": {
      "main": [
        [
          {
            "node": "Schedule Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Set Default": {
      "main": [
        [
          {
            "node": "Schedule Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Complete": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Check Mailbox Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mailbox Exists": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Should Update?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Email Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?": {
      "main": [
        [
          {
            "node": "Update Mailbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Mailbox": {
      "main": [
        [
          {
            "node": "Mark as Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Updated": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Skipped": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email Account": {
      "main": [
        [
          {
            "node": "Merge Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Account Data": {
      "main": [
        [
          {
            "node": "Detect Failed Creations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Failed Creations": {
      "main": [
        [
          {
            "node": "Re-check Existing Mailboxes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-check Existing Mailboxes": {
      "main": [
        [
          {
            "node": "Filter Items To Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Items To Retry": {
      "main": [
        [
          {
            "node": "Retry Failed Creations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Failed Creations": {
      "main": [
        [
          {
            "node": "Merge Retry Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Retry Results": {
      "main": [
        [
          {
            "node": "Combine All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All Results": {
      "main": [
        [
          {
            "node": "Prepare Sending Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sending Limits": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Apply Limits?": {
      "main": [
        [
          {
            "node": "Apply Limits API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Limits API": {
      "main": [
        [
          {
            "node": "Merge Limits Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Limits Result": {
      "main": [
        [
          {
            "node": "Apply Sending Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Limits": {
      "main": [
        [
          {
            "node": "Apply Sending Limits",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Apply Sending Limits": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Create CSV Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CSV Report": {
      "main": [
        [
          {
            "node": "Prepare CSV Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CSV Binary": {
      "main": [
        [
          {
            "node": "Upload CSV to ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to ClickUp": {
      "main": [
        [
          {
            "node": "Prepare Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Comment": {
      "main": [
        [
          {
            "node": "Post Comment to ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Comment to ClickUp": {
      "main": [
        [
          {
            "node": "Return Mailboxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}