templates/phase2-signatures.template.json
{
  "name": "{{CLIENT_NAME}} - Phase 2: Signatures & Opt-Outs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phase2-signatures",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [140, 300],
      "webhookId": "phase2-signatures"
    },
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.reply.io/v1/emailAccounts",
        "authentication": "genericCredentialType",
        "sendHeaders": false,
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "get-mailboxes",
      "name": "Get All Mailboxes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{REPLY_CREDENTIAL_ID}}",
          "name": "{{REPLY_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/split-filter-mailboxes.js}}"
      },
      "id": "split-mailboxes",
      "name": "Split & Filter Mailboxes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/render-signature.js}}"
      },
      "id": "render-signature",
      "name": "Render Signature & Opt-Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_existing_signature }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.force_overwrite }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-skip-sig",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/generate-signature-report.js}}"
      },
      "id": "set-signature",
      "name": "Generate Signature Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/combine-signature-optout.js}}"
      },
      "id": "combine-signature-optout",
      "name": "Combine Signature + Opt-Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/generate-report.js}}"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/create-csv-report.js}}"
      },
      "id": "create-csv",
      "name": "Create CSV Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/prepare-csv-binary.js}}"
      },
      "id": "prepare-csv-binary",
      "name": "Prepare CSV Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/attachment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "upload-csv-clickup",
      "name": "Upload CSV to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/prepare-comment.js}}"
      },
      "id": "prepare-comment",
      "name": "Prepare Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "={{ $json.comment }}"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "post-comment",
      "name": "Post Comment to ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 300],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CLICKUP_CREDENTIAL_ID}}",
          "name": "{{CLICKUP_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/prepare-lambda-request.js}}"
      },
      "id": "prepare-lambda-request",
      "name": "Prepare Lambda Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tvp0h6ee7g.execute-api.us-east-1.amazonaws.com/prod/update-signatures",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "trigger-lambda-async",
      "name": "Trigger Lambda Async",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 180],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resume": "webhook",
        "limit": 1800000,
        "limitUnit": "ms",
        "options": {
          "httpMethod": "POST"
        }
      },
      "id": "wait-for-lambda",
      "name": "Wait for Lambda Callback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1890, 180],
      "webhookId": "lambda-signature-results"
    },
    {
      "parameters": {
        "jsCode": "{{INJECT:scripts/phase2/parse-lambda-results.js}}"
      },
      "id": "parse-lambda-results",
      "name": "Parse Lambda Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 180],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get All Mailboxes", "type": "main", "index": 0 }]]
    },
    "Start": {
      "main": [[{ "node": "Get All Mailboxes", "type": "main", "index": 0 }]]
    },
    "Get All Mailboxes": {
      "main": [[{ "node": "Split & Filter Mailboxes", "type": "main", "index": 0 }]]
    },
    "Split & Filter Mailboxes": {
      "main": [[{ "node": "Render Signature & Opt-Out", "type": "main", "index": 0 }]]
    },
    "Render Signature & Opt-Out": {
      "main": [[{ "node": "Combine Signature + Opt-Out", "type": "main", "index": 0 }]]
    },
    "Combine Signature + Opt-Out": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [{ "node": "Generate Report", "type": "main", "index": 0 }],
        [{ "node": "Prepare Lambda Request", "type": "main", "index": 0 }]
      ]
    },
    "Generate Signature Report": {
      "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]]
    },
    "Prepare Lambda Request": {
      "main": [[{ "node": "Trigger Lambda Async", "type": "main", "index": 0 }]]
    },
    "Trigger Lambda Async": {
      "main": [[{ "node": "Wait for Lambda Callback", "type": "main", "index": 0 }]]
    },
    "Wait for Lambda Callback": {
      "main": [[{ "node": "Parse Lambda Results", "type": "main", "index": 0 }]]
    },
    "Parse Lambda Results": {
      "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]]
    },
    "Generate Report": {
      "main": [[{ "node": "Create CSV Report", "type": "main", "index": 0 }]]
    },
    "Create CSV Report": {
      "main": [[{ "node": "Prepare CSV Binary", "type": "main", "index": 0 }]]
    },
    "Prepare CSV Binary": {
      "main": [[{ "node": "Upload CSV to ClickUp", "type": "main", "index": 0 }]]
    },
    "Upload CSV to ClickUp": {
      "main": [[{ "node": "Prepare Comment", "type": "main", "index": 0 }]]
    },
    "Prepare Comment": {
      "main": [[{ "node": "Post Comment to ClickUp", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
