templates/status-router.template.json
{
  "name": "System - Status Change Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-status-change",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "ClickUp Status Change Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "clickup-status-change"
    },
    {
      "parameters": {
        "jsCode": "// ATOMIC DEDUPLICATION using staticData\n// This runs IMMEDIATELY to prevent race conditions\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\n// Extract task ID and status for dedup key\nconst taskId = body.task_id || body.history_items?.[0]?.task?.id || body.payload?.id;\nconst historyItems = body.history_items || [];\nconst statusChange = historyItems.find(h => h.field === 'status');\nconst newStatus = statusChange?.after?.status?.toLowerCase() || '';\n\nif (!taskId || !newStatus) {\n  // Can't dedupe without these, let it pass through\n  return [{ json: { ...webhookData, _dedupe_skip: false } }];\n}\n\n// Create dedup key: task_id + status\nconst dedupKey = `${taskId}_${newStatus}`;\n\n// Get workflow's static data (persisted across executions)\nconst staticData = $getWorkflowStaticData('global');\nconst locks = staticData.statusLocks || {};\nconst now = Date.now();\n\n// Clean up old locks (older than 2 minutes)\nconst LOCK_TTL_MS = 2 * 60 * 1000;\nfor (const [key, timestamp] of Object.entries(locks)) {\n  if (now - timestamp > LOCK_TTL_MS) {\n    delete locks[key];\n  }\n}\n\n// Check if this task+status combo is already being processed\nif (locks[dedupKey]) {\n  const secondsAgo = ((now - locks[dedupKey]) / 1000).toFixed(1);\n  console.log(`\ud83d\udd12 DUPLICATE BLOCKED: ${dedupKey} is already being processed (locked ${secondsAgo}s ago)`);\n  return [{ json: { ...webhookData, _dedupe_skip: true, _dedupe_reason: `Locked ${secondsAgo}s ago` } }];\n}\n\n// Acquire lock IMMEDIATELY\nlocks[dedupKey] = now;\nstaticData.statusLocks = locks;\n\nconsole.log(`\ud83d\udd13 LOCK ACQUIRED: ${dedupKey}`);\nreturn [{ json: { ...webhookData, _dedupe_skip: false, _dedupe_key: dedupKey } }];"
      },
      "id": "dedupe-lock",
      "name": "Acquire Dedup Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json._dedupe_skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dedupe-check",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {},
      "id": "dedupe-skip",
      "name": "Duplicate Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse ClickUp webhook and extract task info\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\nconsole.log('\ud83d\udce5 Received status change webhook');\n\n// Extract task ID\nconst taskId = body.task_id || body.history_items?.[0]?.task?.id || body.payload?.id;\n\nif (!taskId) {\n  console.log('\u26a0\ufe0f No task ID found');\n  return [{ json: { skip: true, reason: 'No task ID' } }];\n}\n\n// Check for status change in history_items\nconst historyItems = body.history_items || [];\nconst statusChange = historyItems.find(h => h.field === 'status');\n\nif (!statusChange) {\n  console.log('\u26a0\ufe0f Not a status change event');\n  return [{ json: { skip: true, reason: 'Not a status change' } }];\n}\n\nconst newStatus = (statusChange.after?.status || '').toLowerCase();\nconst oldStatus = (statusChange.before?.status || '').toLowerCase();\n\n// Only trigger on REPLY status\nconst shouldTrigger = newStatus.includes('reply');\n\nif (!shouldTrigger) {\n  console.log(`\u26a0\ufe0f Status '${newStatus}' is not a trigger status (only 'reply' triggers)`);\n  return [{ json: { skip: true, reason: `Status '${newStatus}' not in trigger list` } }];\n}\n\nconsole.log(`\u2705 Status changed: ${oldStatus} \u2192 ${newStatus}`);\n\nreturn [{\n  json: {\n    skip: false,\n    task_id: taskId,\n    old_status: oldStatus,\n    new_status: newStatus\n  }\n}];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients?task_id={{ $json.task_id }}",
        "authentication": "none",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "{{API_GATEWAY_KEY}}"
            }
          ]
        }
      },
      "id": "get-client-by-task",
      "name": "Get Client by Task ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Check if client was found\nconst taskId = $('Parse Webhook').first().json.task_id;\nconst response = $input.first().json;\n\nconsole.log('\ud83d\udd0d Lambda response:', JSON.stringify(response, null, 2));\n\n// Handle 404 or empty response - response has format { exists: bool, client: {...} }\nif (!response.exists || !response.client || !response.client.client_id) {\n  console.log(`\u274c No client found for task_id: ${taskId}`);\n  return [{ json: { skip: true, reason: `No client found for task ${taskId}` } }];\n}\n\nconst client = response.client;\nconsole.log(`\u2705 Found client: ${client.client_name} (${client.client_id})`);\nconsole.log(`\ud83d\udccb Workflow IDs:`, client.workflow_ids);\n\n// Validate workflow_ids exist\nif (!client.workflow_ids || Object.keys(client.workflow_ids).length === 0) {\n  console.log('\u26a0\ufe0f Client has no workflow_ids - workflows may not have been deployed');\n}\n\nreturn [{\n  json: {\n    skip: false,\n    client_id: client.client_id,\n    client_name: client.client_name,\n    task_id: taskId,\n    workflow_ids: client.workflow_ids || {},\n    clickup_space_id: client.clickup_space_id,\n    status: client.status,\n    last_processed_status: client.last_processed_status\n  }\n}];"
      },
      "id": "find-client",
      "name": "Find Client by Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Smart status tracking with execution locking to prevent duplicates\nconst client = $input.first().json;\nconst webhookData = $('Parse Webhook').first().json;\nconst newStatus = webhookData.new_status;\nconst oldStatus = webhookData.old_status;\nconst lastProcessedStatus = client.last_processed_status;\nconst lastExecutionTimestamp = client.last_execution_timestamp;\n\nconsole.log(`\ud83d\udcca Status Change: ${oldStatus} \u2192 ${newStatus}`);\nconsole.log(`\ud83d\udccc Last Processed: ${lastProcessedStatus || 'none'}`);\nconsole.log(`\u23f0 Last Execution: ${lastExecutionTimestamp || 'none'}`);\n\n// CRITICAL: Check if we've processed this EXACT status within the last 60 seconds\n// This prevents race conditions from multiple rapid webhooks\nif (lastProcessedStatus === newStatus && lastExecutionTimestamp) {\n  const lastExecTime = new Date(lastExecutionTimestamp).getTime();\n  const now = Date.now();\n  const secondsSinceLastExec = (now - lastExecTime) / 1000;\n  \n  if (secondsSinceLastExec < 60) {\n    console.log(`\u23ed\ufe0f Status '${newStatus}' was processed ${secondsSinceLastExec.toFixed(1)}s ago - skipping duplicate`);\n    return [{ json: { ...client, skip: true, reason: `Duplicate: processed ${secondsSinceLastExec.toFixed(1)}s ago` } }];\n  }\n}\n\n// Define status order (workflow progression)\nconst STATUS_ORDER = ['not started', 'onboarding', 'reply', 'campaign live', 'complete'];\nconst newIndex = STATUS_ORDER.indexOf(newStatus);\nconst lastIndex = STATUS_ORDER.indexOf(lastProcessedStatus);\n\n// Check if moving backwards (to a previous status in the workflow)\nif (lastProcessedStatus && newIndex >= 0 && lastIndex >= 0 && newIndex < lastIndex) {\n  // Moving backwards - only allow if returning to 'reply' (re-trigger)\n  if (newStatus === 'reply') {\n    console.log(`\u21a9\ufe0f Returning to REPLY status - allowing execution`);\n    return [{ json: { ...client, skip: false } }];\n  } else {\n    console.log(`\u2b05\ufe0f Backwards status change detected (${lastProcessedStatus} \u2192 ${newStatus}) - skipping`);\n    return [{ json: { ...client, skip: true, reason: `Backwards change to '${newStatus}' not allowed` } }];\n  }\n}\n\n// Moving forward or first time - allow execution\nconsole.log(`\u2705 Forward progression or first execution - proceeding`);\nreturn [{ json: { ...client, skip: false } }];"
      },
      "id": "check-last-execution",
      "name": "Check Status Progression",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"\ud83d\ude80 **Reply.io Setup Started**\\n\\n**Client:** {{ $json.client_name }}\\n**Triggered by:** Status change to REPLY\\n\\nTriggering the Main Orchestrator workflow...\"\n}",
        "options": {}
      },
      "id": "post-start-comment",
      "name": "Post Start Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KQ4DCkxv3kBoRgK1",
          "name": "System ClickUp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for the Orchestrator workflow\n// This ensures task_id is properly passed to the sub-workflow\nconst statusData = $('Check Status Progression').first().json;\n\nreturn [{\n  json: {\n    task_id: statusData.task_id,\n    client_id: statusData.client_id,\n    client_name: statusData.client_name,\n    workflow_ids: statusData.workflow_ids,\n    new_status: $('Parse Webhook').first().json.new_status\n  }\n}];"
      },
      "id": "prepare-orchestrator-data",
      "name": "Prepare Orchestrator Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1970,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_ids['orchestrator'] || $json.workflow_ids['main-orchestrator'] || '' }}",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-main-orchestrator",
      "name": "Trigger Main Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://zxn1hyal26.execute-api.us-east-1.amazonaws.com/prod/clients/{{ $('Check Status Progression').first().json.client_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "x-api-key",
              "value": "{{API_GATEWAY_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_processed_status: $('Parse Webhook').first().json.new_status, last_execution_timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-last-execution",
      "name": "Update Processed Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2390,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Find Client by Task ID').first().json.task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_text\": \"\u2705 **Reply.io Setup Complete!**\\n\\n**Client:** {{ $('Find Client by Task ID').first().json.client_name }}\\n\\nThe Main Orchestrator has completed all phases.\"\n}",
        "options": {}
      },
      "id": "post-complete-comment",
      "name": "Post Complete Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2620,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KQ4DCkxv3kBoRgK1",
          "name": "System ClickUp API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1140,
        500
      ]
    },
    {
      "parameters": {},
      "id": "no-op-no-client",
      "name": "No Client Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        500
      ]
    },
    {
      "id": "sign-jwt-get-client",
      "name": "Sign JWT (Get Client)",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        1030,
        300
      ],
      "parameters": {
        "operation": "sign",
        "payload": "={{ JSON.stringify({ sub: '{{CLIENT_NAME}}-status-router', iss: 'n8n-qtalo', aud: 'qtalo-api-gateway', jti: $execution.id }) }}",
        "expiresIn": 3600
      },
      "credentials": {
        "jwtAuth": {
          "id": "{{JWT_CREDENTIAL_ID}}",
          "name": "{{JWT_CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "id": "sign-jwt-update-status",
      "name": "Sign JWT (Update Status)",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        2280,
        300
      ],
      "parameters": {
        "operation": "sign",
        "payload": "={{ JSON.stringify({ sub: '{{CLIENT_NAME}}-status-router', iss: 'n8n-qtalo', aud: 'qtalo-api-gateway', jti: $execution.id }) }}",
        "expiresIn": 3600
      },
      "credentials": {
        "jwtAuth": {
          "id": "{{JWT_CREDENTIAL_ID}}",
          "name": "{{JWT_CREDENTIAL_NAME}}"
        }
      }
    }
  ],
  "connections": {
    "ClickUp Status Change Webhook": {
      "main": [
        [
          {
            "node": "Acquire Dedup Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Dedup Lock": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Sign JWT (Get Client)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client by Task ID": {
      "main": [
        [
          {
            "node": "Find Client by Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client by Task ID": {
      "main": [
        [
          {
            "node": "Check Status Progression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Progression": {
      "main": [
        [
          {
            "node": "Client Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Found?": {
      "main": [
        [
          {
            "node": "Post Start Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Client Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Start Comment": {
      "main": [
        [
          {
            "node": "Prepare Orchestrator Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Orchestrator Data": {
      "main": [
        [
          {
            "node": "Trigger Main Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Main Orchestrator": {
      "main": [
        [
          {
            "node": "Sign JWT (Update Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Processed Status": {
      "main": [
        [
          {
            "node": "Post Complete Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign JWT (Get Client)": {
      "main": [
        [
          {
            "node": "Get Client by Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign JWT (Update Status)": {
      "main": [
        [
          {
            "node": "Update Processed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}